[2014-12-12 08:20] ruifigueira opened #808 "Instantiating JavaBackend inside a Weblogic 10 application fails"
I'm experiencing the following error when I try to instanciate a `JavaBackend` inside a webapp deployed in Weblogic 10:

[code]

After some debugging, I found out that the `ClassLoader` willl return classpath resources with `zip` protocol instead of `jar`, so when we run the following code there we'll get `Protocol=zip`:

[code]

This will then affect `ZipThenFileResourceIteratorFallback` because

[2014-12-12 13:08] #738 closed, assigned to nobody

[2014-12-21 20:10] #792 closed, assigned to nobody

[2014-12-23 07:14] K76154 opened #813 "Support Espresso 2.0"
The Espresso has just released its 2.0 version, and it changed its instrumentation test runner. As a result, Cucumber-android needs to be updated to support this new version.

[2014-12-23 08:18] #813 closed, assigned to nobody

[2015-01-01 19:29] #807 closed

[2015-01-04 10:12] brasmusson commented on #804
I brought the two pending TestNG PR:s (#653 and #621) up to date with the current tip of the master; #817 and #818. I would be great if you evaluated them as a TestNG user @rankinc, neither I am using TestNG myself.

[2015-01-08 20:27] devopsd opened #822 "release new version with juint 4.12 compatibility fixes"
merged in 002df29ff345d46a0fabd9940a8a3f4edbec435a (#794)

[2015-01-08 20:42] aslakhellesoy commented on #822
Not sure what this ticket is about. Closing it.

[2015-01-08 20:42] #822 closed

[2015-01-08 21:05] SierraGolf commented on #788
we have migrated the cucumber android examples to 4.0.0. the cucumber-android project it self does not have a dependency to the maven android plugin anymore.

see: https://github.com/cucumber/cucumber-jvm/pull/819

[2015-01-08 21:05] #788 closed

[2015-01-08 21:09] SierraGolf commented on #647
@benoitdion we just removed the generation of the "apklib" since neither that nor the "aar" packaging is required. in future versions (1.2.1+) you don't have to use the ```@jar``` anymore because we will not deploy any other artifact to maven central.

[2015-01-08 21:09] #647 closed

[2015-01-08 22:19] #808 closed

[2015-01-09 07:10] brasmusson commented on #822
@devopsd Using the snapshot release version 1.2.1-SNAPSHOT (see [install Cucumber-JVM](http://cukes.info/install-cucumber-jvm.html)), you can use Cucumber-JVM with junit 4.12 right now.

[2015-01-10 15:53] SierraGolf commented on #775
@chiavegatto the problem is in your setup. your are using the html formatter which was not supported in 1.1.5 so you could not see your mistake in that version.

however in version 1.1.8 the html formatter is now supported and the path [target/cucumber](https://github.com/chiavegatto/TDC-2014-POA/blob/master/TDC-2014-POA/desempenhotest/src/main/java/br/com/calcdesempenho/desempenhotest/StepDefCalD

[2015-01-10 15:53] #775 closed

[2015-01-10 16:37] SierraGolf commented on #720
this obviously seems to be a compatibility issue when migrating form 1.1.5 to 1.1.7. since there is no answer for more then half a year, I am closing this issue as invalid.

[2015-01-10 16:37] #720 closed

[2015-01-10 16:49] SierraGolf commented on #575
this was fixed and merged many moons ago. in case a step is undefined there will be a cucumber.runtime.android.MissingStepDefinitionError thrown which holds the snippet as message.

[2015-01-10 16:49] #575 closed

[2015-01-10 17:30] SierraGolf commented on #675
There are people which are still using eclipse to do android development? :D

Can you specify more details about your problem, like:

1. How did you run the test?
2. What versions are you using (e.g. eclipse, adt, cucumber, eclipse cucumber plugin)?

Generally I can say that cucumber for android outputs test results through the ```Instrumentation.sendStatus``` interface in the android junit format

[2015-01-10 17:46] SierraGolf commented on #552
@aslakhellesoy I think implementing a web server of which the behaviour is yet completely undefined is overkill. Being able to just retrieve any format (html, json, junit) after the test run from the device is a lot simpler and can be achieved easily with any build system (ant, maven, gradle) by just running ```adb pull filepath```

do you still believe this is viable approach? I don't see any one

[2015-01-10 18:06] SierraGolf commented on #548
@aslakhellesoy is this just a request to extend the examples or is this about adding functionality to capture screenshots from within cucumber android?

[2015-01-10 20:21] aslakhellesoy commented on #548
It's both :-). Would be nice to run the android example and see a report with a screenshot of the UI.

[2015-01-10 20:59] aslakhellesoy commented on #552
I wonder if the easiest would be to implement the Cucumber [wire protocol](https://github.com/cucumber/cucumber/wiki/Wire-Protocol) in Cucumber-JVM. This would mean only a small subset of Cucumber-JVM would run on the device while the rest of it would run on a host machine. The wire protocol would send all the results back to the host.

WDYT?

[2015-01-11 11:27] SierraGolf commented on #552
*disclaimer: I am absolutely unfamiliar with the wire protocol so please correct me if I make wrong assumptions*

If I understand the wire protocol correctly, it is implemented in such a way that the executor establishes a connection to a remote system (e.g. an android device) and communicate with it (ask for steps, tell to execute steps).

Afaik this is not possible with android. An android appli

[2015-01-11 15:14] aslakhellesoy commented on #552
@SierraGolf I wasn't aware that Android couldn't listen for incoming connections. Inverting the flow should be relatively easy though.

Yeah, I just think having a smaller amount of code running on the device would be beneficial in many ways.

Aslak

[2015-01-11 20:49] SierraGolf commented on #552
@aslakhellesoy I think I have to revoke my previous statement. it is probably possible to create such a socket connection from android.

Anyhow, I have a few other things on my list before I can start thinking more about adding wire protocol support to cucumber-jvm, but I find the idea fascinating and I think there is great potential.

[2015-01-11 21:15] brasmusson commented on #552
One you get out of the box know that cucumber-android executes the same way as any other Android Instrumentation test, is the integration with IDE's/build-system. In your IDE, you right-click select "run as Android test" the the code is compiled, uploaded and the features executed, with (at least rudimentary) notifications back to the IDE.
I guess that it would require something extra to start bot

[2015-01-12 09:15] SierraGolf commented on #552
@brasmusson I see it also more as an alternative for exactly the reasons you mentioned.

What I am more excited about is that you can easily setup complex scenarios using different systems like a rest-api, an android-application and a web-application.

[2015-01-12 09:29] SierraGolf commented on #548
I just discovered the "scenario parameter in hooks"-feature and the ```Scenario.embed(byte[], Sring)``` interface. So now I get what you mean by embedding a screenshot. :D

I am unsure if it makes sense to embed such a functionality into cucumber-android, but I will at least provide an example.

[2015-01-14 11:02] baztian opened #826 "Why @Singleton for Weld step classes"
I'm curious if the weld integration design using `@Singleton` for step/glue classes was chosen? Looking at the `WeldFactory` I guess you could've implemented `addClass` and keep the glue classes in a map that would get returned by `getInstance`. Wouldn't weld find classes without annotation as well?

[2015-01-16 02:24] jaybrad111 opened #827 "Error running Background for Scenario Outlines defined after Scenarios"
Since updating my project's cucumber-jvm version from 1.1.1 to 1.2.2, I've had problems executing the background steps before Scenario Outlines when I run all scenarios in a feature file. I found a nearly identical cucumber issue [here](https://github.com/cucumber/cucumber/issues/560). This issue comes up in 1.2.0 as well.

Consider the following as a feature file with a Background, Scenario, and

[2015-01-17 13:20] paoloambrosio commented on #806
Why do you think so? Has it ever worked in a different way? Please reopen if you have evidence of the contrary.

Scenario Outlines are expanded into a series of single Scenarios, and hooks are executed for each of them.

[2015-01-17 13:20] #806 closed

[2015-01-17 13:43] paoloambrosio commented on #697
Closing as it compiles with Java 8

[2015-01-17 13:43] #697 closed

[2015-01-19 10:14] rmannibucau opened #830 "Define a "standard" java 8 API to define steps"
Hi

ATM java 8 uses constructor to define steps. it is broken in several situation - all which needs some init on the glue, ie when you use any kind of "container" lib.

We hit this issue in cukespace and I defined:

[code]

to workaround it

Is it possible to add it in LambdaGlueBase?

Only change is to call this method when creating instances for cucumber.

wdyt?

PS: also note the fact it uses

[2015-01-21 07:37] clicman commented on #782
The rigght complete regex should be like:
[code]

Will it be good for master? I can make appopriate PR.

[2015-01-22 12:47] clicman commented on #782
@brasmusson what do you think about regex in upper comment? It will be good if it will possible to pass more than one string argument as parameters.

[2015-01-22 13:08] brasmusson commented on #782
@clicman The capture groups was changed from ([^"]*) to (.*?) a while back, https://github.com/cucumber/cucumber-jvm/commit/9a21bbff1a0584665b3c99aad88e433667fcc37b, https://github.com/cucumber/cucumber-jvm/issues/737#issuecomment-47240448. Afterwards there have been some discussion if it was a good change, #737, [mailing list post](https://groups.google.com/forum/#!searchin/cukes/snippet|sort:dat

[2015-01-28 19:27] smmckay opened #831 "CLI doesn't handle exceptions very well"
I'm using cucumber-spring with the CLI, and under certain conditions Spring can throw an exception that percolates up through `cucumber.api.cli.Main.main()` and aborts the runner. This _doesn't_ exit the process because of non-daemon threads started by libraries.

The workaround I'm using is to install a default uncaught exception handler that calls `System.exit(1)`.

I'm not sure if this is a bug

[2015-01-29 10:54] grahamlyons commented on #780
Could we close this, please? It makes me sad.

[2015-01-29 11:08] mattwynne commented on #780
Me too @grahamlyons! @stormcoder I'd love you to help us fix the docs. Feedback from new users is really important to us.

Are you willing to make a list of concrete actions we could take to improve the situation for you?

[2015-01-29 11:20] aslakhellesoy commented on #780
@grahamlyons Are you sad about the bickering in this ticket, or the poor state of the docs? I'd like to keep this ticket open until we actually have some decent docs for cucumber-clojure.

[2015-01-31 21:31] SierraGolf opened #832 "allow customisation of package to look for CucumberOptions annotated class"
**problem**
currently the `CucumberExecutor` only searches in the scope of the package defined by the context (`Context.getPackageName`) for classes annotated with `@CucumberOptions`. This limitation was probably implemented to boost the startup time, since it avoids loading all classes of the test application dex file (incl. dependencies of the project) at startup.

the problem with that is that

[2015-02-02 07:37] paoloambrosio commented on #831
What kind of exceptions are causing this behaviour?

I guess what you say about non-daemon threads is because the Spring context is not torn down, so it doesn't call the destroy methods you have defined for the beans. Am I correct?

[2015-02-02 08:33] aslakhellesoy commented on #831
Please provide a way to reproduce this, without which we can't fix this. Or better yet - a pull request with a fix (and a test).

[2015-02-02 15:59] grahamlyons commented on #780
@aslakhellesoy it's the tone of the ticket - I'd love to see more extensive documentation but perhaps we could start afresh, in a more positive light?

[2015-02-02 16:16] aslakhellesoy commented on #780
The tone is water under the bridge for me at least. What would be great is to simply document how cucumber-clojure works in the cucumber-clojure README.md. I don't have time to spend on this (and I'm not a Clojure expert), but I'm happy to merge PRs.

When [the new website](https://github.com/cucumber/website) starts to take shape we can move it there.

[2015-02-10 06:28] peterox opened #833 "Add @Documented annotation to all step annotations"
Can you please add the @Documented annotation to the I18n.java.txt template file so that the Javadoc for all step definitions documents the pattern used by the definition?

See http://docs.oracle.com/javase/7/docs/api/java/lang/annotation/Documented.html

Thanks

[2015-02-10 06:43] aslakhellesoy commented on #833
I'd be happy to apply a patch if you fork the repo and send us a pull request.

[2015-02-10 23:51] peterox commented on #833
Pull request created

[2015-02-12 18:32] JasonSmiley opened #835 "Cucumber Spring is not finding my step definitions"
Since there is no great documentation on how to use this, I will admit I am possibly setting up my environment incorrectly. However, I can launch the WebApp (I see building of resources in console), I can see cucumber finding my features to execute, but when it tries to actually execute them, it says my steps are not defined and test is ignored.

My code can be found in this stack over flow questi

[2015-02-12 18:48] aslakhellesoy commented on #835
I'm closing this issue since it sounds more like a question and not a bug report. Please see [CONTRIBUTING](https://github.com/cucumber/cucumber-jvm/blob/master/CONTRIBUTING.md) for details.

Feel free to reopen if you can share some code to reproduce, preferably in a GitHub repo.

[2015-02-12 18:48] #835 closed

[2015-02-12 18:51] JasonSmiley commented on #835
It's a bug if my setup matches your example, which to me seems to be the case. If I am wrong, then agree. Sorry!

[2015-02-12 18:55] aslakhellesoy commented on #835
Ok we'll see when you supply code to reproduce!

[2015-02-12 18:57] JasonSmiley commented on #835
The code I am using is in the Stack Overflow.

Are you saying you need a github?

[2015-02-12 20:33] brasmusson commented on #835
@JasonSmiley In your case the problems seems to be that you tried to use class (static) methods as step definitions ([as I answered on Stack Overflow](http://stackoverflow.com/a/28487156/4561043))

[2015-02-12 20:57] JasonSmiley commented on #835
Thanks Brasmusson! I didn't realize you couldn't use static step definitions. In my Selenium cucumber project I use static functions all the time (so steps can call other steps easily).

Does this mean within a spring framework, I should just @autowire the step definitions and add beans to the cucumber.xml?

[2015-02-13 18:37] JasonSmiley commented on #835
Just for the record, I checked out your cucumber examples project and couldn't even get it to compile!

[2015-02-13 19:22] brasmusson commented on #835
@JasonSmiley That is really strange, because the spring-txn example is building and executing without problems on Travis, [here is the latest Travis log](https://travis-ci.org/cucumber/cucumber-jvm/jobs/47556711), from line 6785 is the output from the spring-txn example.

[2015-02-13 19:41] JasonSmiley commented on #835
well, I checked out the full cucumber-jvm repo, opened spring-txn in intellije via the pom.xml, and then it couldn't compile - I thought it was funny because it didn't know what @CucumberOptions were....

Thanks so much for your support @brasmusson but I am going to give up on cucumber spring. I have already spent 2 days trying to get this to work and I can't waste anymore time on this.

[2015-02-13 21:01] aslakhellesoy commented on #835
@JasonSmiley you must open the root pom

[2015-02-15 20:44] brasmusson commented on #835
@JasonSmiley I copied the code from your question at stackoverflow and I basically find no problem with it with respect to "finding Step Definitions". I put it in a [GitHub project](https://github.com/brasmusson/spring-skeleton), you can try it yourself if you want (the GitHub project also include the [Cucumber-Java-Skeleton project](https://github.com/cucumber/cucumber-java-skeleton) changed to u

[2015-02-17 16:39] JasonSmiley commented on #835
Updated my glue to "com.dibs.inventory.stepDefinitions" to match my step package.

Removed @Webapllication annotation from JUnit and cucumber (wasn't required)

Added default constructor.

Note: The return statement was for a demo I was giving to show that a step function could still be used in a traditional JUnit setting (not all developers I work with are comfortable using cucumber).

so just to

[2015-02-17 17:40] brasmusson commented on #835
@JasonSmiley You are not using Spring version 4, are you? I get the error:
[code]
when using Spring v3.2.13 (I googled up https://github.com/springtestdbunit/spring-test-dbunit/issues/46 when searching for the error message).
Cucumber-spring (v1.2.2) is built using Spring v4.1.4.RELEASE. Cucumber-JVM v1.1.5 was the last version built using Spring v3. However in versions v1.1.4-v1.1.8 Cucumber-spri

[2015-02-17 17:43] JasonSmiley commented on #835
Ok, I am not sure if I will be able to update my spring version - I am writing a code for a spring project which is currently using 3.2.0.RELEASE so I will find out if there is a reason we haven't upgraded.

[2015-02-17 20:43] brasmusson commented on #835
I guess that the options for using Spring v3 and Cucumber-JVM are:
 * Use Cucumber-JVM v1.1.3 (or maybe earlier):
   * `cucumber.xml` need to be named that and must be placed at the root of the classpath.
   * Do not use `@ContextConfiguration` annotations
   * `@Autowire` step definition classes to each other will work
   * The transaction support will work (add `cucumber.api.spring` to the glue

[2015-02-17 20:53] JasonSmiley commented on #835
Thanks for this @brasmusson, I am going to push for upgrading our spring environment since I will be writing tests for the code, but in the meantime I am just going to be writing CRUD tests and I have been asked to write them Pure JUnit by the rest of the team.

Eventually I will be writing Integration level tests and then cucumber will be much more important so I will make my decision on what cuc

[2015-02-19 11:02] henrik242 opened #836 "cucumber-junit 1.2.0 is incompatible with junit 4.12"
PublicClassValidator throws an Exception with message:
"The class cucumber.runtime.junit.ExamplesRunner is not public."

It looks like cucumber-junit 1.2.0 is incompatible with junit 4.12, see http://stackoverflow.com/a/25540276/13365 and https://groups.google.com/d/msg/cukes/w1QhqqqvJ8M/F9Pjoxe6Xb0J

[2015-02-19 11:07] aslakhellesoy commented on #836
Dupe of #792 and #794. Fixed in 1.2.2

[2015-02-19 11:07] #836 closed

[2015-02-19 23:55] Evg3n commented on #604
Hello,

I need steps hooks too. So, I forked the repo and will work on java implementation. I doesn't look too hard to add but will see. I just started digging in the code but let me know if you have any cons.

Best regards,
Eugene.

[2015-02-20 00:14] aslakhellesoy commented on #604
Go ahead!

[2015-02-20 18:48] kevinschwarz opened #837 "JSON report missing scenario description when provided for Scenario outline"
When I configure the JSON reports the scenario description comes as null in the outputted JSON. It would be useful to populate this with the description from the Scenario outline

@CucumberOptions(plugin = {"json:target/cucumber/cukes.json" })

 Scenario Outline: Scenario outline name
    Scenario outline description

Given I have a feature
    When I test "<result type>"
    Then I get "<result t

[2015-02-21 05:26] Evg3n commented on #604
Pull request #838.

Best regards,
Eugene.

[2015-02-27 01:51] khaledkebbe commented on #780
I have a question with regards to cucumber test automation in bamboo. Does anyone have any recommended approaches where cucumber tests can be automated for projects in bamboo using a config file? (yaml file maybe?)

[2015-02-27 07:01] brasmusson commented on #780
@khaledkebbe Your questing should be asked on the [The Cukes Google Group](https://groups.google.com/forum/#!forum/cukes), this is an issue tracker and not a support or discussion forum.

[2015-02-27 15:18] Evg3n commented on #604
Hey @aslakhellesoy could you please provide timeline when pull request #838  will be merged and released? I really need in my project.

Best regards,
Eugene.

[2015-02-27 15:53] aslakhellesoy commented on #604
Hi @Evg3n I don't commit to timelines. I try to work on Open Source on Fridays - that's all I can say.

[2015-03-03 11:58] Prabat opened #840 "Rerun functionality executes scenarios unnecessarily even the scenarios are passed"
If any scenarios are failed in execution then rerun functionality working fine & executed only failed scenarios But in passed condition -> rerun.txt is blank/empty & it is initiating all the scenarios unnecessarily.

**TriggerTest.java**
[code]

**RerunTest.java**
[code]

Above are two Test files used in project
* **TriggerTest.java** file is the main test execution -> save the failed scenarios in

[2015-03-03 12:50] aslakhellesoy commented on #840
@Prabat Please don't request that others fix bugs for you. This is an open source project, which means we rely on bugs to be fixed by the community.

Wold you be willing to spend time fixing this yourself and send us a pull request? You'd start by writing a failing test to reproduce the incorrect behaviour, then make it pass.

[2015-03-06 15:13] eelessam commented on #515
Is anyone working on this at the moment?

[2015-03-06 16:32] fernandomora commented on #515
It this feature in the roadmap in a near future?

I have found the need of this feature several times in different projects.
And neither addShutdownHook nor @AfterClass covered my needs, since we execute tests from sbt, addShutdownHook is only executed on JVM shutdown, while this does not happen until sbt is explicitly closed and I don't want to executed our tests in a forked JVM.

[2015-03-08 19:02] brasmusson commented on #827
@jaybrad111 I cannot reproduce this issue. When I copy the feature described in the issue I get no errors. Moreover, in the java-calculator example (https://github.com/cucumber/cucumber-jvm/blob/master/examples/java-calculator/src/test/resources/cucumber/examples/java/calculator/basic_arithmetic.feature) a feature with similar structure:
[code]
has been and is successfully executed in each build (

[2015-03-08 20:25] #840 closed

[2015-03-11 20:10] pbmzbr commented on #784
Try to set your project with UTF-8 encoding.

[2015-03-15 02:01] AkaiTsuki commented on #837
In CucumberScenarioOutline.java under core model, the method createExampleScenario is hard code the description with "" when create a new instance of Scenario from example table(on line 59), which I guess it  should be getGherkinModel().getDescription().

[2015-03-16 10:46] beemi commented on #515
Hi all ,
please provide solution for this .
I got the feature file which got Background , and 5     Scenario Outline: , i would like to run my Background just only once then i want to execute all my  Scenario Outline: s with the Example data ,

because of the
@Before
    public void before(Scenario scenario) {
        new CucumberGlobalHooks().before(scenario);
    }

    @After
    public void af

[2015-03-18 18:56] #803 closed

[2015-03-18 18:56] #837 closed

[2015-03-18 19:33] #833 closed

[2015-03-23 18:27] paguilera opened #843 "The Install Link in the README is a Dead Link"
In the README, there's an "install" link that points to this location: http://cuckes.info/install-cucumber-jvm.html
That link redirects to a 404 error.

[2015-03-23 18:37] #843 closed

[2015-03-24 23:39] testingselenium opened #844 "Cucumber jvm Before and After Hooks not firing"
Hi,

I am using the sharedDriver and it is in the same package as that of the runner tests. However, the hooks don't seem to kick off before the scenario or after. Also, all other methods are executing in terms of launching the browser and closing. I am in need to get screenshot whenever scenario fails. Code is attached below,

[code]

[2015-03-25 00:01] testingselenium commented on #844
I found out the issue.. Just a few minutes, I posted the issue. It works perfectly when Shared Driver is placed in the same package as that of the step definitions. As in the code sample provided under,

https://github.com/cucumber/cucumber-jvm/tree/master/examples/java-webbit-websockets-selenium/src/test/java/cucumber/examples/java/websockets

I used the same logic of placing the step defs and Sh

[2015-03-25 00:02] #844 closed

[2015-03-26 22:36] danielwegener commented on #630
:+1: I am carrying around this issue with me for quite a while now. Especially for UI tests it is absolutly nessessary to run tests in parallel. I've seen several attempts to make this possible from slicing feature files into single scenario files (within a build job) with massive jvm-forking to runners with ugly Reflection-Hacks that replace thread-unsafe code in Runners and Runtimes - none of th

[2015-03-26 22:44] danielwegener commented on #664
This however puts expensive operations like classpath scanning and gluecode matching up to every scenario execution. I think these issues could better be solved in the cucumber core abstractions (see #630).

[2015-03-28 15:36] dkowis commented on #630
I broke the hell out of core back in the day making the Jruby stuff work. I don't believe anyone would be opposed to seeing code. You'd just have to be willing to accept feedback and possibly change the code even more.

[2015-03-28 17:29] aslakhellesoy commented on #630
Hear, hear!

It would be a big, but welcome change.

In the next months I intend to refactor the internals to use [Gherkin3](https://github.com/cucumber/gherkin3) and in order to avoid merge hell I'd like to see parallelism added after this.

[2015-03-29 11:21] klausbayrhammer commented on #630
Two thumbs up @danielwegener. I really appreciate the proposed changes. If there's anything I can support you with, just let me know. I'll close #664 so we track the parallel scenario executions in one issue - and this one looks more promising!

[2015-03-29 11:22] klausbayrhammer commented on #664
Parallel exeuction of scenarios  will be tracked in #630

[2015-03-29 11:22] #664 closed

[2015-03-31 21:51] danielwegener commented on #630
Good to hear that I am not alone with this requirement :) I find some time to investigate the code a bit and tried to push pieces around.
I made the following observations and try to summarize what I learned about the core concepts and what could be done to go parallel:

## How things are
- Multiple scenarios can be executed in serial using one Runtime with multiple backends and multiple formatter

[2015-03-31 22:18] aslakhellesoy commented on #630
Fantastic analysis @danielwegener - I couldn't have done it better myself.

What are your thoughts on doing this in parallel with Gherkin3? I'm worried that both streams ofcwork will take a while and touch a lot of the same code.

I plan to rip out the gherkin2 code entirely and modify everything that depends on it. The `cucumber.runtime.model` package will most likely go away. Formatter and Repor

[2015-04-01 18:14] danielwegener commented on #630
@aslakhellesoy It sounds like as if Gherkin3 will lead to a major release of cucumber-jvm anyway - and that would make breaking changes from this parallel-feature easier to justify. I would be fine to develop this parallel-feature on top of your gherkin3 branch (keeping the commit history small and rebasing regularly should not be such a pain). IMO It would be great if we could put both features i

[2015-04-04 10:12] bsz0206 opened #846 "Dynamic Glues"
Hi,

Sometimes you need to change your glues based dynamically based on the steps. Assume you have an step like this: "I login"

When I am testing site A
And I login as user "a", "b"

When I am testing site B
And I login as user "a", "b"

So there are two similar step definitions and glue should change as per the previous step.

Is there any way this can be done?

[2015-04-04 15:17] aslakhellesoy commented on #846
Short answer: Yes. Please ask questions on the cukes google group. This is a bug tracker.

[2015-04-04 15:17] #846 closed

[2015-04-07 14:33] kwoz opened #848 "Add license file"
I am looking into using it in a project for a client, but for formal reasons a license is required. Can you add a suitable license?

[2015-04-07 14:39] aslakhellesoy commented on #848
Where do you want this added? The repo has had one since the start:

https://github.com/cucumber/cucumber-jvm

[2015-04-07 14:41] aslakhellesoy commented on #848
Is the UK spelling of `LICENCE` the problem?

[2015-04-07 14:44] kwoz commented on #848
Sorry, this issue was created in error.

[2015-04-07 14:44] #848 closed

[2015-04-09 16:33] williamlabrum opened #849 "Tags at the examples block are not treated as actual tags in scenario"
It seems as though tags specified at an examples block are not treated as such when being assigned to a scenario:

[code]

[code]

This ultimately prevents us from creating Hooks based on tagged Example blocks. Perhaps there is an alternative?

[2015-04-09 16:42] aslakhellesoy commented on #849
Sounds like a bug

[2015-04-09 17:12] brasmusson commented on #849
@williamlabrum Which version of Cucumber-JVM are you using? I cannot reproduce this problem in Cucumber-JVM v1.2.2. There both hooks tagged with the Examples table tag are executed for the scenarios instantiated from the Example table, and `scenario.getSourceTagName()` in a before hook will include the Examples table tag in the return value.

[2015-04-09 20:46] LArchaon commented on #782
Hi,
Currently having hard time with the same issue as well.
Cucumber has a [guess mode](https://github.com/cucumber/cucumber/wiki/Step-Definitions#guess-mode) that should handle this problem, but AFAIU cucumber-jvm does not support this

A preposition would be to add a guess mode code check in [Runtime Glue](https://github.com/cucumber/cucumber-jvm/blob/5a6400c8757d18e3b0f2fef2d9d49dfbc2186c58/cor

[2015-04-09 20:57] mattwynne commented on #782
@brasmusson we changed the default regexp back in Ruby: https://github.com/cucumber/cucumber/pull/663

@LArchaon I think guess mode is a bit of an anti-pattern myself. If you need it I'd say your step defs are getting over-complex. I'd urge you to just tighten up your regexes.

[2015-04-09 21:01] sebrose commented on #782
+1

Guess mode? The clue is in the name. If you have to guess you're probably not defining business critical behaviour.

[2015-04-09 21:33] LArchaon commented on #782
@mattwynne @sebrose Here is a good example when guess mode could simplify step definition

Guess mode:
[code]

No Guess mode
[code]

In this specific case I was able to create a workaround with a non trivial regex, but sometimes it is really nasty.

[2015-04-10 09:48] wxjlibra opened #850 "When integrating cucumber with junit."
The junit @Before tag is not executed anyway when running with cucumber runner. Is it a bug or any alternative ways.

[2015-04-10 10:06] aslakhellesoy commented on #850
You need the `cucumber.api.Before` annotation.

[2015-04-10 10:06] #850 closed

[2015-04-10 11:32] wxjlibra commented on #850
Thanks!

[2015-04-10 15:55] williamlabrum commented on #849
@brasmusson Yes, I am using v1.2.2. Another thing that is worth noting is that I am using java 1.6 (not by choice).

Please feel free to clone the cucumber-debugging project here: https://github.com/williamlabrum/cucumber-debugging to see an example setup.

__Execution:__ mvn clean test -Dcucumber.options="--tags @myTag"

Here is the output seen by me (no indication of output tag data provided by

[2015-04-10 15:59] williamlabrum commented on #849
I have created a second test that shows that it works when placing the tag at the Scenario Outline level but not at the example block level.

__Execution__: mvn clean test

![image](https://cloud.githubusercontent.com/assets/11874212/7091617/dbe8d4c8-df5f-11e4-97bc-7d0a9282ea1b.png)

[2015-04-10 16:34] ghost opened #851 "Transformers are not eligible for dependency injection"
Looking at the Guice module, I can see that dependency injection doesn't seem to take place on the `Transformer` interface.

In order to support this, the core/src/main/java/cucumber/runtime/ParameterInfo.java would need the `private static Transformer<?> getTransformer(Annotation annotation)` methods to be updated to call the object factory. From here, Guice would be able to inject the dependenci

[2015-04-10 19:52] brasmusson commented on #849
Ok, @williamlabrum its a bug. But it is not as easy as that the tags on examples tables are totally ignored, they are lost when performing tag filtering.

If you remove `tags = { "~@in-progress", "~@skip"}` for the `@CucumberOption` annotation of your [runner class](https://github.com/williamlabrum/cucumber-debugging/blob/master/src/test/java/com/williamlabrum/cucumber/TestDriver.java#L20), you wi

[2015-04-10 19:57] williamlabrum commented on #849
Got it. Thanks for your feedback and support.

[2015-04-10 22:34] c10gdn commented on #783
Hi, I tried using this solution referred to on stackoverflow but I couldn't get it to work, is there any update on the progress?  Thanks.

[2015-04-11 14:53] davidcoelho opened #852 "Arity mismatch Java8 Step Definition error"
When I define my step by using cucumber Java8 feature, I get this exception:

[code]

But If I use the **Given** annotation in a class method, with the same step definition works fine.

##### MyStepsDef.java
[code]

##### myfeature.feature
[code]

##### Dependencies
[code]

[2015-04-13 13:15] nablik commented on #852
I have the same problem too.

[2015-04-13 13:19] brasmusson commented on #852
@davidcoelho Is this issue fixed by PR #847 that you opened a week ago?

[2015-04-13 13:27] davidcoelho commented on #852
@brasmusson yes. After I coded, I tried to find an issue about this problem, but I didn't find it.. So I thought was better to create this issue...

[2015-04-13 13:33] #852 closed

[2015-04-15 13:33] avokin opened #854 "Make method Formatter#uri provide fullpath to feature file."
In IntellJ IDEA we use Formatter implementation to process output of cucumber and build tree of tests.

But we faced with problem that Formatter#uri provides only related path to executed feature file

Let’s consider running all features in folder.

For example we have following folder structure:
features
  |-  test1.feature
  |-  subdir
      |- test2.feature

When we run features in folder “feat

[2015-04-15 13:38] os97673 commented on #854
or have another way to construct the full path (e.g. have full path to features directory)

[2015-04-15 23:11] afterworkguinness opened #855 "Feature file ignored after maven clean"
Executing maven clean seems to corrupt the feature files. After running mvn clean, mvn test no longer finds feature files unless you rename them.

Steps to replicate:
------------------------

1.) Create a simple foo.feature in src/test/java/com/foo
[code]

2.) Execute mvn test:
[code]
3.) Run mvn clean

4.) Run mvn test. The feature file is ignored.
[code]
Java 1.8 update 40
Maven 3.3.1
cucumber-

[2015-04-16 05:36] aslakhellesoy commented on #855
Maven will copy non-java files to `target/test-classes` from `src/test/resources`, but not from `src/test/java`

I don't see how this worked for you even once.

Put features in `src/test/resources`

[2015-04-16 05:36] #855 closed

[2015-04-24 14:36] dkirrane opened #858 "Cucumber 1.2.2 running all feature files even if I specify only 1"
I specify only 1 feature file to run but all other features are still being run.

[code]

[2015-04-24 15:05] dkirrane commented on #858
Doh Maven running the wrong file

[2015-04-24 15:05] #858 closed

[2015-04-29 15:44] otaviolandim commented on #720
@aslakhellesoy

This works in version 1.2.2?

[2015-05-01 11:29] markwinspear commented on #393
Hi. I came across this thread because I am trying to put together a simple framework using a Page Object Model patten using Webdriver and using Cucumber as the BDD framework. I'm not a developer first and foremost, however I have taken the advice of Dave Haeffner in his book 'Selenium Guidebook for Java' in setting up a Base test class which uses JUnit's rule to set up an external resource and set

[2015-05-05 14:56] FaiMal opened #861 "json results file is empty @AfterClass"
Hi,

I am using the json results generated by cucumber and converting them into html reports using a
method generateReports() which is called at @AfterClass. The issue is that the json file is empty when @AfterClass runs. So the html report is empty as well. If I run this method after the execution has completely finished, I see a complete report.

When is the json file populated with results? Is

[2015-05-06 16:09] sponte opened #862 "TableTransformer<T>"
Currently DataTables can only be converted to DataTable, Map or List.

In order to keep steps definitions, it would be good to add support for TableTransformer<T>:

[code]

[code]

[code]

[2015-05-06 16:17] aslakhellesoy commented on #862
Does the `MyProduct` class have `name` and `myProduct` fields (instance variables) in this case?

I don't think it's a feature many people want, but I'd be happy to add support for it if you send a pull request.

[2015-05-06 16:28] sponte commented on #862
Hi Aslak

Thanks for quick response.

Yes MyProduct would like as follows:

[code]

I haven't looked into cucumber code yet, any pointers if I decide to implement it myself?

[2015-05-06 16:46] aslakhellesoy commented on #862
So the `My product` column should be called `price` then?

See `TableConverter` and `TableConverterTest`

[2015-05-06 16:52] sponte commented on #862
Sorry, forgot to add ```@Transpose``` to step definition. The idea is that you have a model class with lots of fields, and use table to "overlay" what's in the table over your model (overriding defaults). That way I can have MyProduct class with 20 fields, and only override price field because I only care about it in a test.

I'll have a look at the ```tests```, thanks.

[2015-05-13 09:34] dayatang commented on #852
I have the same problem too.

[2015-05-13 23:16] joedj opened #865 "surefire-junit47 reports results against incorrect test"
I originally raised this issue against the maven-surefire-plugin because the results are different when using the surefire-junit4 provider vs the surefire-junit47 provider, but was instructed to raise it as a cucumber issue: https://issues.apache.org/jira/browse/SUREFIRE-1156

There is a minimal non-working example here:

https://github.com/joedj/surefire-test.git

The project includes two tests -

[2015-05-13 23:20] joedj commented on #865
Tibor made the following comments on the surefire issue tracker:

    I have seen same issue in JUnit project, but finding those missing among 900 test was postponing the investigation on my side.
    AFAIK there was instantiation problem with Cucumber Runner as talked about it in JUnit group.
    Isn't any exception in the reports ?

(there is no exception in the reports)

    Cucumber is running

[2015-05-14 10:26] Martin-Spamer opened #866 "cucumber.runtime.CucumberException: java.io.FileNotFoundException"
I've just updated a project from 1.1.8 to 1.2.2 and it is now generating a cucumber.runtime.CucumberException: java.io.FileNotFoundException.

The problem seems to be caused by an '%20' appearing in the path to maven artifact.

The only change is to the dependency & returning the project to 1.1.8 and it runs as expected.

Previously

		<dependency>
			<groupId>info.cukes</groupId>
			<artifactId>c

[2015-05-14 11:05] aslakhellesoy commented on #866
I can confirm this is a regression. I'm working on a fix.

[2015-05-14 11:34] brasmusson commented on #866
@aslakhellesoy You probably know more than me about the fine details of url/uri/path-convertations in Java, however is seems to me that this [stackoverflow answer](http://stackoverflow.com/a/17870390/4561043) have some relevant information for the fix in ZipResourceIteratorFactory.

[2015-05-14 14:38] #866 closed

[2015-05-14 14:52] aslakhellesoy commented on #866
Thanks for the SO tip @brasmusson - I switched to using `URI.getSchemeSpecificPart()` as well - I wasn't aware that `URLDecoder.decode(path, "utf-8")` was incorrect (although it would only trigger a bug if there is a `+` in the filename).

It should all be good now.

@Martin-Spamer - can you try `1.2.3-SNAPSHOT` and confirm whether this solves your problem? [Look here](https://cucumber.io/docs/ref

[2015-05-18 08:17] Martin-Spamer commented on #866
I can confirm that 1.2.3-SNAPSHOT from the sonatype repository fixes this.

Sorry for delay in responding I went offline shortly after reporting this.

Cheers.

Martin

[2015-05-25 18:23] dkowis commented on #469
To revive dead threads, in the project I work on, we're using spring annotations to inject dependencies into scala classes. It does indeed just work.

[2015-05-25 18:24] dkowis commented on #469
Also, I have no idea how I "unassigned" someone .... all I did was comment :|

[2015-05-27 12:00] ovictor commented on #515
+1 for this feature.  Is anyone working on it?

[2015-05-27 15:10] GiannisPapadakis opened #869 "formatter is not generating the json steps report"
Using cucumber-testng artifact and running with CucumberOption --> format = {"json","json:target/cucumber-report-composite.json"} json is not generated under target directory.
this.runtimeOptions.formatter(this.classLoader) returns null

[2015-05-27 16:14] markwinspear commented on #515
And another +1 from me. I can't use Junit @Before and @After annotations with Cucumber which prevents me from using Cucumber with WebDriver using Page Object Model and executing tests in Saucelabs

[2015-05-28 06:17] Utkarsh6793 opened #870 "Cannot find class in classpath: cucumber.api.testng.CucumberFeatureWrapper"
org.testng.TestNGException:
Cannot find class in classpath: cucumber.api.testng.CucumberFeatureWrapper
	at org.testng.xml.XmlClass.loadClass(XmlClass.java:81)
	at org.testng.xml.XmlClass.init(XmlClass.java:73)
	at org.testng.xml.XmlClass.<init>(XmlClass.java:59)
	at org.testng.xml.TestNGContentHandler.startElement(TestNGContentHandler.java:548)
	at com.sun.org.apache.xerces.internal.parsers.Abstra

[2015-05-28 06:20] #870 closed

[2015-05-28 06:23] aslakhellesoy commented on #870
I closed this because the author didn't provide any information beyond a stack trace. It doesn't seem related to Cucumber (stack trace is not from Cucumber). Using [https://cucumber.io/support] is more appropriate here.

[2015-05-28 18:30] brasmusson commented on #869
I cannot reproduce this issue. I have no problem to modify the [examples/java-calculator-testng](https://github.com/cucumber/cucumber-jvm/tree/master/examples/java-calculator-testng) to generate json formatter output at the same time both to stdout and to a file in the target directory. I tested both v1.2.2 and v1.2.3-SNAPSHOT and all runner classes in the example.

[2015-05-28 20:10] dkowis commented on #869
Please provide us a working proof that it doesn't work, and feel free to reopen the issue with that.

[2015-05-28 20:10] #869 closed

[2015-05-29 06:41] GiannisPapadakis commented on #869
I am attaching the png showing that java-calculator-testng demo (RunCukesByFeatureAndCompositionTest.java) run using formatter json:target/cucumber-report-feature-composite.json but under target i am not seeing the generated json file for the step definitions. Is it something wrong with my run configuration. I am running using maven and individual file.
![run java calculator](https://cloud.githubu

[2015-05-29 07:29] brasmusson commented on #869
@GiannisPapadakis Try and run maven from command line instead from IntelliJ, it look suspiciously like you have run into #803 (which is fixed in v1.2.3-SNAPSHOT).

[2015-05-29 08:19] GiannisPapadakis commented on #869
Now it is running the demo and generates report but in my project it does
not ....(very strange behaviour). I am using also
@CucumberOptions(

      glue = {"com.iri.qa.automation"},
      format = {"json:target/cucumber-report-composite.json"},
      features= {"ptamobilesuite/target/test-classes/com/"},
      strict = true)

Is there any reason why i cannot generate in my project the json using

[2015-05-29 08:47] brasmusson commented on #869
@GiannisPapadakis If you add the sonatype snapshot repo to your pom.xml ([described here](https://cucumber.io/docs/reference/jvm)), and change the version of Cucumber-JVM in your pom.xml, you should be able to use v1.2.3-SNAPSHOT version from your IDE.

[2015-05-29 11:01] GiannisPapadakis commented on #869
I solved the issue with your proposal. Thanks so much for the information!

2015-05-29 11:47 GMT+03:00 Björn Rasmusson <notifications@github.com>:

[2015-06-04 20:43] ryantenney commented on #515
:+1: here as well

[2015-06-05 04:06] temyers opened #872 "Eclipse Junit plugin broken by multiline examples"
If I have a feature file containing a multiline argument in an example table, running it using the Cucumber JUnit runner through Eclipse, progress is not reported and the test never completes in the JUnit view and the process is still running under the debug view (although the process finishes as expected in the console)

Sample Cucumber runner:
[code]

Sample feature file:
[code]

[2015-06-05 04:08] temyers commented on #872
tested using cucumber 1.2.0

[2015-06-07 17:05] khairajpamnani commented on #866
Hi aslakhellesoy ,

is the is raised by Martin resolved. I am still facing this issue if there is 20% in the path for jar. If there is no 20% in the path then it works fine.

Please suggest.

thanks!

[2015-06-07 19:13] aslakhellesoy commented on #866
@khairajpamnani it's in `1.2.3-SNAPSHOT` as mentioned above.

[2015-06-07 20:28] aslakhellesoy opened #874 "Fix/Upgrade Gosu"
See #781 for details. @sayewich - any luck so far?

[2015-06-11 13:06] erwinc1 commented on #866
@aslakhellesoy make it publicly available?

[2015-06-11 13:16] aslakhellesoy commented on #866
@erwinc1 it is publicly available. See my message further up:

[2015-06-11 13:53] erwinc1 commented on #866
@aslakhellesoy I know, what I meant was, could you put it in the mvnrepository?

[2015-06-11 16:56] khairajpamnani commented on #866
Can we have 1.2.3 version in MVN repository?

[2015-06-11 17:05] aslakhellesoy commented on #866
Yes, eventually.

[2015-06-11 17:11] aslakhellesoy commented on #866
@khairajpamnani @erwinc1 what's preventing you from using the snapshot maven repo?

[2015-06-11 18:13] khairajpamnani commented on #866
I don't see 1.2.3 version in maven repository so how that will be downloaded through POM into my .m2 dir. I am not sure if maven also search sona repository for requested jar version.

Sorry if I ask anything incorrect here.

[2015-06-11 18:37] aslakhellesoy commented on #866
Please.

Read up on maven snapshots. Read all my comments in this issue. Follow the links. Read. Learn.

[2015-06-12 11:09] aslakhellesoy commented on #866
I've updated [the docs](https://cucumber.io/docs/reference/jvm#installation) a little. Is it clearer now @khairajpamnani @erwinc1. You'd use `1.2.3-SNAPSHOT` in your pom.

[2015-06-16 21:11] ddelponte opened #875 "How would you execute a single Feature and/or Scenario using Cucumber-JVM and Gradle?"
Thanks you!

[2015-06-16 21:54] dkowis commented on #875
Ask on one of https://cucumber.io/support instead of here. This is for bug reports with the software only.

[2015-06-16 21:54] #875 closed

[2015-06-24 06:35] tauheedkhan opened #876 "scenario.write() method not writing text in json report"
I am using scenario.write() method to print session id in the report, but it is not printng the text in the json format of the report and working fine in html report.

My cuke file is:

import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(tags = { "@GuestMultiSkuAndNormalCheckout" }, monochrome = true,

[2015-06-24 10:15] M21B8 opened #877 "Null String arguments"
Not an issue as such, more of a feature request.

This is what i'm trying to do.

Scenario: English News
    Given with the locale is set to 'en-gb'
    When they access the login page
    Then they see the news
      | title   | image | link | linkText | preText                         | postText |
      | Welcome | null  | null | null     | FIT_SYS. You shouldn't be here. | null     |

In this f

[2015-06-24 14:43] dkowis commented on #877
Honestly, I think you might be using cucumber wrong. You'll have a lot less pain if you try to use something that's designed to work with programming languages directly to accomplish this kind of testing.

Perhaps you can describe your data in a different way? Describe what the business value is in the page, not the exact content of the page. Doing so should help you have more robust and flexible

[2015-06-24 14:43] #877 closed

[2015-06-24 14:44] dkowis commented on #876
Can you provide a small example project that demonstrates the failure? Or better yet, a runnable test that can prove it's not working?

[2015-06-25 08:49] tauheedkhan commented on #876
Issue is with masthought report plugin............closing the issue

[2015-06-25 08:49] #876 closed

[2015-06-26 21:28] gphilipp commented on #780
I wrote a BDD getting started guide for Clojure here : https://github.com/gphilipp/bdd-guide-clojure

[2015-06-29 13:36] kkebb commented on #780
The BDD guide will definitely prove to be useful, thank you!

FYI the latest version of lein cucumber is 1.0.4: https://clojars.org/org.clojars.punkisdead/lein-cucumber

[2015-07-06 22:36] #290 closed

[2015-07-07 02:12] dkowis commented on #755
Sure enough, this is still a problem. I assume the java classes are loaded each time?

I think it has to do with how the scala DSL is similar to the Ruby DSL than the Java DSL. New classes aren't made each time, the file is loaded once and then the step definitions are called. You could probably solve this problem by putting your `yahooSearchPage` somewhere else...? You could certainly put it in a

[2015-07-07 07:54] aslakhellesoy commented on #755
Take a look at how it's done with the java8 module's lambda stepdefs. You might be able to use a similar approach.

[2015-07-08 20:00] felipedamiani commented on #866
I had the same problem, the version 1.2.4-SNAPSHOT solved my issue. tks

[2015-07-08 20:13] aslakhellesoy commented on #866
1.2.3 was just released, so I recommend that.

https://github.com/cucumber/cucumber-jvm/blob/master/History.md

[2015-07-08 20:48] felipedamiani commented on #866
Great! Thanks for the tip @aslakhellesoy

[2015-07-09 07:41] shell88 opened #880 "classLoader-Parameter in cucumber.api.cli.main not used consequently (version 1.2.2)"
I had to use my own ClassLoader and i mentioned, that the parameter classLoader from the run-method is not used consequently. Whereas the parameter is passed to every class (ResourceLoader, Runtime, ClassFinder) the PluginFactory won´t use it but calls Thread.currentThread().getContextClassLoader(). Seemed to me that this behaviour isn´t really senseful.

Thanks and kind regards from bavaria

[2015-07-09 09:21] aslakhellesoy commented on #880
Hi @shell88, would you be interested in sending us a PR to improve this?

[2015-07-10 14:08] shell88 commented on #880
ok, may take a while...

[2015-07-11 11:36] lcintrat opened #881 "Set Guice inject source from command line"
Hi,

Setting `guice.injector-source`property from the command line would be very handy instead of specifying it in file `cucumber-guice.properties`

Scenario:
I have a test set for several configurations involving different injector sources. For now, on the CI builder I have to overwrite the guice properties for each configuration. And the issue also exists for developers: they have to modify this

[2015-07-13 12:15] thaussma opened #882 "[Android] Tests with `singleTask` Activities do not run correctly"
The Activity that I need to test is launched as `singleTask` Activity (see [Android documentation](https://developer.android.com/guide/topics/manifest/activity-element.html#lmode)).

The first scenario runs fine. But when the second scenario tries to launch its Activity the execution is blocked in `startActivtySync()`. All following scenarios tests are also blocked.

This behaviour can be reproduc

[2015-07-13 21:52] #881 closed

[2015-07-13 22:37] lcintrat commented on #881
Thank you very much !
I will check this as soon as possible.

[2015-07-13 22:42] aslakhellesoy commented on #881
You're welcome. It's already available as a snapshot: https://cucumber.io/docs/reference/jvm#snapshot-releases

[2015-07-14 12:37] aslakhellesoy commented on #470
FWIW - the example code shows how to do this:
https://github.com/cucumber/cucumber-jvm/blob/master/groovy/src/test/groovy/cucumber/runtime/groovy/date_stepdefs.groovy

[2015-07-15 13:33] sheltonn opened #883 "How to use Spring DI with Lambda expressions."
If I rely on the normal Spring injection, then I will get a NPE.  I tried to inject the constructor, but Cucumber complained and said that I needed the PICO container on the classpath.  When I added the PICO container on the classpath, it started complaining about missing things.

In my stepdefs class, I looked for the bean manually.  Does anyone have an example of Lambda expressions and Spring DI

[2015-07-15 14:31] aslakhellesoy commented on #883
This is a bug tracker, not a help forum. Please see https://cucumber.io/support

[2015-07-15 14:31] #883 closed

[2015-07-17 08:33] stuartizon commented on #755
+1

[2015-07-17 13:42] gnikhil2 opened #884 "Documentation link doesn't work"
Hi

I tried to open the documentation link mentioned in the README.md file (https://github.com/cucumber/cucumber-jvm/blob/master/README.md). The link is giving an error.
This is the link which tries to redirect to documentation. https://cukes.info/docs

[2015-07-18 18:56] velanbabu commented on #861
I'm also facing same issue. Please provide the solution ASAP.

[2015-07-21 12:57] kohanyirobert opened #885 "Using cucumber-java8 list of numbers are deserialized with a String runtime type"
Using cucumber-java8 if I have the following .feature

    Feature: List of numbers are mapped to List<Integer> when using the Java 8 Cucumber API

        Scenario: Passing some numbers to our test method
            Given the list of the following numbers: 1, 2, 3
            Then if we test the runtime type of the arguments it should be java.lang.Integer

and the following code to test it

[2015-07-23 00:56] Miuler opened #886 "Support for Spring 3.0"
Hi, I have working in the branch for add support to spring 3.0

https://github.com/Miuler/cucumber-jvm/tree/hg/spring3

But, I do not know how to make coexist the two versions, one for 3 and another for 4 in the same trunk, without duplicate code.

[2015-07-23 17:16] williamjablonski opened #887 "feature execution using gherkin in pt-br with "Então" return error"
cucumber-jvm: version 1.1.5
system: windows

When execute feature in pt-br using "Então" for return cucumber steps the cucumber-jvm returned this exception:

Exception in thread "main" cucumber.runtime.CucumberException: Error parsing feature file C:/Users/william.jablonski/workspace2/androidApp/src/test/java/feature/ValidarTriangulo.feature
	at cucumber.runtime.FeatureBuilder.parse(FeatureBuilder

[2015-07-23 19:16] aslakhellesoy commented on #887
You need to save your `.feature` file with UTF-8 encoding. The `Ent?o` in the error message tells me you're using a different encoding.

[2015-07-23 19:16] #887 closed

[2015-07-23 19:46] Miuler commented on #886
exist some rason for the dependencies the spring are within pom.xml parent?

[2015-07-24 08:45] ciekawy commented on #459
unfortunetly `((Class) actualType).getGenericSuperclass()` returns `null`

[2015-07-24 12:37] aslakhellesoy opened #888 "DataTable.asList(clazz) doesn't call clazz' constructor"
It doesn’t seem to call the constructor, or even instanciate final fields, which is a bit of a pain.
This is probably because XStream (which we currently use for instantiation) uses some tricks like [this](http://stackoverflow.com/questions/19771375/is-it-possible-to-instantiate-a-class-without-calling-any-constructor).

If it's possible to configure XStream to always call constructors, we should

[2015-07-28 00:31] nablik opened #890 "ReRun failing tests does not record feature data properly"
To reproduce this behave I will provide the project structure:
Maven Project Name: example-cucumber
the Pom:
[code]

The structure:
src/test/java[example.cucumber]: contain integration Test and mapping class
ExampleMapping.java:
[code]
TestExampleCucumberIT.java: test runner that will perform the first test execution and record data in target/rerun.txt
[code]
the  _TestExampleCucumberIT.java will

[2015-07-28 05:02] aslakhellesoy commented on #890
Try to put your feature files under `src/test/resources/features` rather than `src/test/features`.
Also, remove `features = { "src/test/features" }` from your annotation - you don't need to specify it at all.
Finally, please upgrade to 1.2.4 (1.2.2 should work too, but bugs should always be reported against the latest version).

[2015-07-28 08:59] nablik commented on #890
I will do that. Thanks million.

[2015-07-28 10:13] nablik commented on #890
Upgrade to 1.2.4 : Done
Change the feature files to be under resources:  Done
Remove  features = { "src/test/features" } does not solve any problem, it does not recognise any feature file, so I put it back.
run again: Exact same failure.
Hack again: pass.
I think there is a problem.

[2015-07-28 12:17] brasmusson commented on #890
Producing a `rerun.txt` for re-running failed scenarios works as intended when:
* the feature files are loaded from the classpath (using `features = { "classpath:<something>" }` or not specifying the feature option - which means that feature files are loaded from the package of the runner class and its sub-packages)
* the features option specifies the current directory (`features = { "." }`)

Usin

[2015-07-28 12:53] nablik commented on #890
clear now, I have not understood things as they should be.
Thanks, I will close the issue.

[2015-07-28 12:53] #890 closed

[2015-07-30 21:33] palerique opened #891 "UTF-8 is hard-coded into the cucumber-jvm code"
Dear,

I went through a problem using the Cucumber in Portuguese and thought it was a problem in another tool, the Serenity!

I had opened an issue there to correct the problems but just identifying the problem is actually in the cucumber-jvm code!

The original Issue is here: https://github.com/serenity-bdd/serenity-cucumber/issues/18

The code that generate the exception is here: https://github.

[2015-07-30 21:54] aslakhellesoy commented on #891
Try this:

[code]

And save your file as iso-8859-1.

/cc @wakaleo

[2015-07-30 22:01] aslakhellesoy commented on #891
I'm closing this. Let us know if this doesn't work for you.

[2015-07-30 22:01] #891 closed

[2015-07-31 10:31] atali opened #892 "Support Espresso 2.2"
Hello Guys,

I am trying to use Cucumber with Espresso 2.2, I have seen the documentation about the previous version of Espresso and Cucumber.
https://github.com/cucumber/cucumber-jvm/tree/master/android

But I didn't manage to run cucumber with the new release of Espresso:
now they use android.support.test.runner.AndroidJUnitRunner and annotation @RunWith(AndroidJUnit4.class)

You can check
https

[2015-07-31 13:27] palerique commented on #891
It worked!

Thank you very much!

[2015-07-31 15:51] aslakhellesoy commented on #892
Hi @atali. Please use one of the [support channels](https://cucumber.io/support) for questions. This is a bug tracker.

[2015-07-31 15:51] #892 closed

[2015-07-31 15:55] atali commented on #892
Hi @aslakhellesoy ok sorry , I'll do this ;-)

[2015-08-02 14:37] brasmusson opened #893 "Cucumber-JVM v1.2.3 (and v1.2.4) fails to build for Android"
As reported on the [mailing list](https://groups.google.com/forum/#!topic/cukes/tAwLqtWhjcI), Cucumber-JVM release v1.2.3 (and v1.2.4) fails to build for Android. The issue occurred when Cucumber-JVM-Deps was updated to use XStream v1.4.8, which contains two classes (com.thoughtworks.xstream.mapper.LambdaMapper.class and com.thoughtworks.xstream.converters.reflection.LambdaConverter.class) compile

[2015-08-03 14:33] aslakhellesoy commented on #893
I'll take a look at this. I wonder - is there a way this could have been discovered by an automated test you think?

[2015-08-03 20:07] brasmusson commented on #893
Building the integration test for cucumber-android, that is the project [examples/android/android-test](https://github.com/cucumber/cucumber-jvm/tree/master/examples/android/android-test) would have discovered this. The caveat is that to build it you need a Android SDK installed, and to run it you also need an Android emulator running (or an Android device connected).

Now Travis have better [supp

[2015-08-03 20:54] mikeholler commented on #893
@aslakhellesoy this can absolutely be discovered by an automated test. We use [Animal Sniffer](https://github.com/mojohaus/animal-sniffer) for all of our tests. It allows us to use the Java 7 language features while making sure we don't use any Java 7 libraries.

[2015-08-03 21:35] aslakhellesoy commented on #893
Animal sniffer doesn't even have a README. That smells like abandonware to me.

[2015-08-03 22:28] mikeholler commented on #893
It is not abandonware. The Codehaus website shutdown recently but the code
has been forked and is being maintained on GitHub. Unfortunately, I believe
the user doc was lost in the process. Plenty of popular projects still use
and depend on it, like square's OkHttp.
On Aug 3, 2015 16:35, "Aslak Hellesøy" <notifications@github.com> wrote:

[2015-08-03 22:33] mikeholler commented on #893
Here is a link to OkHttp's usage. Animal Sniffer is very stable from my
experience (never had a single problem with it), although I understand your
hesitation to adopt.

https://github.com/square/okhttp/pull/194/files
On Aug 3, 2015 17:28, "Mike Holler" <apotheos121@gmail.com> wrote:

[2015-08-03 22:36] mikeholler commented on #893
Looks like someone did make a documentation site:
http://www.mojohaus.org/animal-sniffer/
On Aug 3, 2015 17:32, "Mike Holler" <apotheos121@gmail.com> wrote:

[2015-08-04 02:09] dkowis commented on #893
Abandonware isn't inherently bad, as long as it works, when it stops working, we can do something else. Perhaps by then the travis android support will be sufficient.

I bet this works by checking the bytecode to see what JDK your stuff is compiled against and extends that test to the dependency jar files you've got.

That's probably stable enough to keep using, even if it is abandonware.

[2015-08-04 02:09] dkowis commented on #893
I bet I can probably make this happen pretty quickly. Perhaps that'll be something I get to this week, if it doesn't get gotten to first by someone else :)

[2015-08-04 16:35] mikeholler opened #894 "[Android] Support Testing with JUnit4 Style Rules"
I converted the Android example ``CalculatorActivitySteps`` from this:

[code]

To this:

[code]

When using the ``@Rule``, the activity would not shutdown after the first test.

[2015-08-04 18:51] mikeholler commented on #393
Rules are important for Android. See #894.

[2015-08-05 14:11] vveliev commented on #827
similar issue for cucumber (2.0.2)

[2015-08-06 09:23] SierraGolf commented on #894
I think junit rules don't really fit into the cucumber [android] world. Cucumber has their own ```@Before``` and ```@After``` annotations for that. Junit rules are specific to a group of tests (class holding ```@Test``` annotated methods). They will be executed for each test method in such a group.

In cucumber you would probably annotate a scenario with a tag and create a step class with ```@Befo

[2015-08-09 11:38] javierseixas opened #895 "Defining several steps for the same function"
Is there any way to have more than one step definition (of the same type) for the same function? Something like:

[code]

I now that in Behat (PHP) and Specflow (C#) it is possible.

I'm getting the following error:

[code]

I found a [post](http://softwarecave.org/2014/05/20/repeating-annotations-in-java-8/) talking about a workaround for Java 7, and a solution for Java 8 using `@Repeatable`.

I

[2015-08-09 11:49] aslakhellesoy commented on #895
Wouldn't multiple patterns for the same stepdef make your domain language less precise?

Can you give me a real world example of when this would be useful?

[2015-08-09 11:59] javierseixas commented on #895
My real world example where I realised that was this:

[code]

It's a Tamagotchi game. The first parameter is a feeling (hungriness, fullness...) and the second one is a value. By introspection I call the corresponding method to get the value for this feeling. The behaviour is the same in both cases, just calling an accessor and compare to a value.

In my case I don't think it makes domain languag

[2015-08-11 01:33] mike-rogers commented on #895
@javierseixas for this particular case you can simplify your `@When`s into:

[code]

That should match both (I removed the apostrophe due to general pedantry :wink:). If you're unfamiliar with the `(?:stuff)` notation it's called a 'passive' or 'non-collecting' group, and the pipe character (`|`) is an 'or', so you could read that as "match a string that starts with 'in' or 'de' and ends with 'cre

[2015-08-11 19:53] AlisonOatley commented on #648
Has this bug been looked at? It does not seem to be resolved.  I am not seeing the tags above my examples.

[2015-08-11 19:53] AlisonOatley commented on #849
Has this bug been looked at? This still seems to be an issue?

[2015-08-12 01:43] dkowis commented on #849
Is there a test for it against gherkin3?

[2015-08-12 01:43] dkowis commented on #648
Pull requests happily accepted!

[2015-08-12 10:48] javierseixas commented on #895
@mike-rogers thanks for your idea. I think is a good way of doing what I need.
In other hand, right now I don't have any other idea that could require to define more than one steps, so I close this issue for now.
Thanks!

[2015-08-12 10:48] #895 closed

[2015-08-12 12:08] aslakhellesoy commented on #895
Good job guys. Classic [XY problem](http://xyproblem.info/) :-)

[2015-08-12 16:49] AlisonOatley commented on #849
<dependency>
	<groupId>info.cukes</groupId>
	<artifactId>gherkin3</artifactId>
		<version>3.0.0</version>
</dependency>

I am using gherkin3 and am still unable to get the example tags using either a before hook:
	@Before
	public static void scenarioHook(Scenario sc)
	{
		System.out.println("Tags: " + sc.getSourceTagNames());
	}
This prints just the Scenario Outline's tag
Or in my cucumber formatt

[2015-08-12 17:11] aslakhellesoy commented on #849
Cucumber-JVM doesn't use Gherkin3 yet, so adding it to the classpath has no effect

[2015-08-12 17:18] AlisonOatley commented on #849
Ok, I thought that might be the case...

Is there an estimate on when Gherkin3 would be added to Cucumber-JVM?

[2015-08-12 21:18] aslakhellesoy commented on #849
I don't do estimates. It will be ready when it's ready.

[2015-08-20 11:38] manat opened #898 "Be able to pre transform or overlay the String value of DataTable before it is converted"
Originally, I'm looking to support the needs of being able to resolve a set of values like null. For example,

[code]

This can be translated to `List<Person>` nicely, if Person class has firstName and lastName field. However, preferred result of Kate's last name is actually expected to be `null`, not literally [null].

For a single value, this could be done with `@Transform` to convert null strin

[2015-08-24 11:40] mdelapenya opened #900 "Support for OSGi bundle resources"
At this moment, there is only support for FileResource and ZipResource, because it's expected to load those resources from a WebArchive.

If you need to use a JavaArchive (type of OSGi bundles) you want to retrieve them via bundleresource protocol.

[2015-08-28 04:46] timjwright opened #901 "Fail scenarios from After hook (or some equivalent)"
I would like to be able to fail tests from an After hook or some such thing.

An example use case would be to verify for an invarient after completion of testing. (For example I would like to check that the no exceptions have been thrown to top level exception handlers.

Another use case would be to fail a test on exceptions in shutdown of a component.

I appeciate this may feel like it goes again

[2015-08-28 13:59] dkirrane opened #902 "Get Feature file and Feature name in Before hook"
I'd like to be able the obtain the feature file name and Feature name in the `@Before` hook for logging purposes.

Something like the existing `Scenario` object:

[code]

[2015-09-01 08:55] bsideup opened #903 "IllegalArgumentException if glue path contains space"
[code]

My glue path is "/Users/bsideup/Google Drive/Work/cool-project/src/test/groovy/"

Thanks!

[2015-09-01 09:44] aslakhellesoy commented on #903
This was fixed in [1.2.3](https://github.com/cucumber/cucumber-jvm/blob/master/History.md#123-2015-07-07), so I'm assuming you're using an older version. If that's not the case, please ask to reopen this and let us know what version you're on.

[2015-09-01 09:44] #903 closed

[2015-09-02 12:31] lehmann opened #905 "The test HelpersTest#computes_file_path_for_file_url fails on Windows platform"
The test is failling on Windows platform:
[code]

[2015-09-02 12:42] aslakhellesoy commented on #905
Dupe of #897

[2015-09-02 12:42] #905 closed

[2015-09-02 12:49] lehmann opened #906 "The test SubstitutionStepdefs#I_should_receive_an_email_with_the_body fails on Windows platform"
The test is failing when runs on Windows. Apparently is a problem with line termination character.

[code]

[2015-09-02 16:17] vaughandroid commented on #515
+1
No word for over a year though, so I'm not holding my breath...

[2015-09-02 21:33] dkowis commented on #515
Pull requests accepted, but they need to cooperate with Dependency Injection.

Additionally it might be a feature that comes in when Gherkin 3 gets integrated. Glad to know people want it, but as with any OpenSource project, it moves at the speed of the volunteers that work on it.

[2015-09-03 06:23] brasmusson commented on #901
@timjwright Throw an exception in the after hook, the the hook and thereby the scenario will be reported as failed.

[2015-09-03 07:05] aslakhellesoy commented on #901
@timjwright plese use https://cucumber.io/support for questions. This is a bug tracker.

[2015-09-03 07:05] #901 closed

[2015-09-03 19:30] dghighfill commented on #861
I had a similar issue, and I think I've boiled it down to this.  Say you have three feature files and you pass in tags that will only execute tests in one of the features, that is not executed last and the last feature that is looked at is excluded by the tags provided in the cucumber options, then the json file will be empty and the cumber will report zero tests ran.  Here are some snippets from

[2015-09-04 09:07] bcub commented on #861
I'd the same issue, But I get over it using maven to execute a java application after the cmd **mvn test**
[code]

[2015-09-04 09:33] lc-nyovchev commented on #898
It's weird but I also arrived at the same conclusion. It'd be really nice if @Transform works with a datatable so we can indeed pass null values, especially for places where we have multi-line datatables where one of the properties is sometimes filled in, and sometimes not. I had the problem that xStream could do UUID nicely but if I wanted to pass a null UUID in a datatable, it complained.

[2015-09-04 15:02] dghighfill commented on #861
Just a followup question, you have a class that has a main method that all it does is GenerateReports.generateReports()?  How does that know about all the prior test executions?  We're using the failsafe plugin and running a mvn verify.

[2015-09-04 17:53] Shumakriss opened #907 "Check for missing step definitions before scenario execution"
When running a feature file using the junit runner, scenarios with missing step definitions will run as far as possible which could amount to significant time with long-running tests.

[2015-09-04 22:26] beemi opened #908 "java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 Error"
Cucumber-jvm :1.2.4 (also tried with different version)
Java : 1.8
Intellj IDA :14.1.4
..............................................
import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import org.junit.runner.RunWith;

@CucumberOptions(
        plugin = {"pretty",
                 "html:target/cucumber/myreport-html-report",
                "json:target/cucumber/myreport-json

[2015-09-05 13:44] brasmusson commented on #908
Looks like your Examples table is malformed. Make sure that all rows have values for all columns. I can provoke the same backtrace when changing [an example table in the java-calculator example](https://github.com/cucumber/cucumber-jvm/blob/master/examples/java-calculator/src/test/resources/cucumber/examples/java/calculator/basic_arithmetic.feature#L27-L30) to
[code]

[2015-09-05 23:16] beemi commented on #908
Thank u , fixed

[2015-09-05 23:45] #908 closed

[2015-09-05 23:48] dkowis commented on #861
Please take this to the cucumber google groups mailing list, unless you've found a legitimate bug in the cucumber-jvm codebase. https://cucumber.io/support

[2015-09-05 23:48] #861 closed

[2015-09-07 13:49] timjwright commented on #901
Thanks actually I realised this was an ide issue. The integration with IntelliJ does not fail the tests for exceptions in after hook. Will raise a bug there instead!

Thx

[2015-09-07 16:53] cougil opened #910 "Spring support for setup active profile?"
Hi!

We are trying to use Cucumber with Spring and we have found that we are unable to setup a different profile setting up the VM options (-Dspring.profiles.active following http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/core/env/AbstractEnvironment.html#ACTIVE_PROFILES_PROPERTY_NAME ). The problem is that we are unable to set the the active profile. We are using the de

[2015-09-08 12:47] dghighfill commented on #861
I believe this is a bug in the reporting of the test results.  If ran with tags and the final feature file looked at is excluded by tags to run any scenarios, the test results write an empty file even though they're may have been tests ran from another test.  Currently my scenario is only with two feature files.  I never noticed this condition with three feature files.  Shall I open a new issue or

[2015-09-08 14:47] cougil commented on #910
Hi again!
Seems that we were using an incorrect approach, because we did not specify the `@ContextConfiguration` we must use in order to retrieve all the properties. It works after setting up this configuration and also adding the related `@PropertySources` we need in order to get all the values from the application resources.
Best,

[2015-09-08 14:47] #910 closed

[2015-09-13 12:39] AniteSridhar commented on #515
Hi All,

I am having 5 Cucumber JUnit runner classes for parallel test execution, I want to concatenate all the JSON outputs together. Is there any Cucumber annotation that can work after all the parallel executions or can anyone suggest me other options which suits my requirement.

Thanks in advance,
Anite S

[2015-09-13 23:06] dkowis commented on #515
@AniteSridhar This is not a support forum. See: https://cucumber.io/support

[2015-09-19 14:42] emaillenin commented on #893
What is the latest version that is known to work?

I was adding support for Cucumber to my existing android app. Added the following JAR files:

- cucumber-android-1.2.4.jar
- cucumber-core-1.2.4.jar
- cucumber-html-0.2.3.jar
- cucumber-java-1.2.4.jar
- cucumber-junit-1.2.4.jar
- cucumber-jvm-deps-1.0.5.jar
- gherkin-2.12.2.jar

Getting this error for "./gradlew --info clean assembleDebug":

[code

[2015-09-20 04:42] emaillenin commented on #893
Downgrading to cucumber-jvm-deps-1.0.3.jar works!

[2015-09-21 14:30] sugatmankar commented on #890
Hi Nablik,

I tried your way. I am able to rerun successfully.

You just have to specify path while using command

mvn clean verify -PautoTest -Dcucumber.tags="src/test/features/  --tags ~@skip"

Thanks a lot.

[2015-09-23 11:10] mawis opened #912 "cucumber-java8 fails on OpenJDK 1.8.0"
Cucumber-Java8 depends on internals of the implementation of Oracle's JDK8. When I started experimenting with it I just always got the following exception:

    Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.056 sec <<< FAILURE! - in soy.wimmer.CucumberIT
    Feature: Cucumber with Java8  Time elapsed: 0.047 sec  <<< ERROR!
    cucumber.runtime.CucumberException: Failed to insta

[2015-09-23 11:14] aslakhellesoy commented on #912
Thanks for reporting this.

Do you have a suggestion for a portable implementation?

[2015-09-23 11:28] mawis commented on #912
Sorry, no. That's to much in the internals of Java for me.

[2015-09-24 04:41] manat commented on #898
Any support, or comment?

[2015-09-25 13:58] jrgarlick opened #913 "Guice package.html documentation incorrectly specifies 'cucumber-guice.properties'"
The cucumber guice package.html example describes how to incorporate your own injector and module into your Cucumber-JVM tests. At the bottom, it says, "You should create a properties file called cucumber-guice.properties' and place it in the root of the classpath." This is incorrect. The startup process never opens that file, which never activates your injector, which never binds the objects we'r

[2015-09-25 17:16] bofkentucky commented on #912
This issue may also be related  https://groups.google.com/forum/#!topic/cukes/VMpJPa1xx58  We see the same tests work on Oracle JDK 1.8.0u51 but fail on Oracle JDK 1.8.0u60

[2015-09-25 18:16] #913 closed

[2015-09-25 18:27] brasmusson commented on #913
Thanks for reporting this. The name of the properties file was changed in v1.2.4 (see [History.md](https://github.com/cucumber/cucumber-jvm/blob/master/History.md)), unfortunately the package.html was not updated.

[2015-09-29 01:51] marciomarinho commented on #912
I have the same problem. It works fine on Oracle JDK 1.8.0u51 but crashed with that stack trace "Caused by: cucumber.runtime.CucumberException: java.lang.IllegalArgumentException: Wrong type at constant pool index" on Oracle JDK 1.8.0u60.

[2015-09-29 08:26] mayanksahai commented on #263
hi any update on this. recently moved from old cuke4duke to cucumber-jvm and like it quite a lot but this issue is still a bottleneck. i am using teamcity for build. any deadlines yet ?

[2015-09-29 18:50] dbcowboy commented on #912
I have a solution....but I think it's a poor one.  The issue appears to be how different versions of JVMs build the ConstantPool used in the ConstantPoolTypeIntrospector.getGenericType method.  In Oracle JDK 1.8.0u51 my code shows  but in Oracle JDK 1.8.0u60 there are 33 elements and the desired entry is at index 30.

[2015-09-29 19:04] dbcowboy commented on #912
Issue appears to be that different JVMs build the ConstantPool class differently in this method.  The code expects to find the desired parameter type at a certain index but that’s not always the case.  A quick (but obviously poor) solution is to iterate from the end until locating a valid value and using it.  Really just trades one assumption for another; unfortunately I’m not strong with reflecti

[2015-09-29 22:01] dkowis commented on #912
IMHO that's a reasonable band-aid. I'd merge a pull request that passes tests for this :) (I don't know if we have a travis build that fails at this point?)

I'd keep another issue open though about making it better.

[2015-10-03 19:51] chrisdostert commented on #397
Very old thread, but did anything ever come of this? This is a fantastic enhancement. I prefer single purpose built FeatureStepDefs class for each feature that knows no more and no less than is needed to test the specific feature under test. If I need access to shared helpers I can simply use DI. The only way i've found to do this with current cucumber-jvm implementation is to use a package per fe

[2015-10-04 02:53] dkowis commented on #397
Take discussion up on the mailing list please.

[2015-10-08 23:24] brendo10x commented on #836
Use a versão do Junit na 4.11 que ai vai funcionar.

[2015-10-12 13:05] albers opened #915 "cucumber-weld cannot inject classes from src/main/java"
I want to place my application code in `src/main/java` and write specifications in `src/main/test` of the same Maven module. The domain classes should get injected into the glue code by `cucumber-weld`.

Injection only works for classes located in `src/main/test`.

Steps to reproduce:
In `cucumber-weld` sources, move `Belly.java` to `src/main/java`. The tests now fail with:

[code]

EDIT: you also

[2015-10-13 08:00] atorstling opened #916 "Cannot close over local variables"
`Java8StepDefinition` and more specifically `ConstantPoolTypeIntrospector` confuses closed variables with arguments to the accept function. This has the consequence that you are unable to close over local variables.

For example, if you  define something like

    class Steps implements En {
      Steps() {
          String prefix = "hello ";
          When("^blabla$", () -> prefix + "world" );

[2015-10-13 12:02] aslakhellesoy commented on #916
Interesting. Would you be able to send a pull request with your proposed fix?

[2015-10-13 14:35] mcandre opened #917 "Automatically integrate with Java"
Please don't require manual special configuration to integrate with Java projects. Instead, have cucumber-jvm detect which language is used, and automatically configure itself accordingly.

[2015-10-13 14:36] aslakhellesoy commented on #917
Can you be more specific what you mean? What special configuration are you referring to?

[2015-10-13 14:40] aslakhellesoy commented on #830
Can you send a PR please?

[2015-10-13 14:54] aslakhellesoy commented on #915
I'd be happy to apply a patch for this, but the Cucumber team won't prioritise fixing this on our own.

[2015-10-13 15:09] aslakhellesoy commented on #912
I haven't been able to reproduce this because I can't easily get my hands on Oracle JDK 1.8.0u60. It's not available for OS X (my laptop) and not on Travis CI. It's [not trivial](https://github.com/travis-ci/travis-ci/issues/3259) to install your own JDK version on Travis.

Any suggestions how I can reproduce this?

[2015-10-13 17:14] mhfrantz opened #918 "java8: Use Consumer instead of HookBody and StepdefBody"
In order to compose with API's such as Durian's `Errors`, the proprietary `HookBody` and `StepdefBody` should be replaced with `java.util.function.Consumer`.  This would allow use of Durian to work around step bodies that contain checked exceptions.
[code]

[2015-10-13 17:49] dbcowboy commented on #912
My apologies, I have haven't used OS X for a while so this may be dumb question but can you not install the 8u60 Mac OS X x64 dmg from here? http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

[2015-10-13 18:35] aslakhellesoy commented on #918
Sounds like a good idea. Send a PR?

[2015-10-13 18:53] aslakhellesoy commented on #912
@dbcowboy you're probably right! I've been relying too much on automatic updates. I can try that.

Thanks!

[2015-10-13 20:34] mcandre commented on #917
Each of these:

https://github.com/cucumber/cucumber-jvm/tree/master/examples/java-gradle#caveats

[2015-10-13 21:53] aslakhellesoy commented on #917
You seem to be referring to some example gradle script here, which isn't really part of the Cucumber-JVM codebase.

What exactly are you suggesting instead?

[2015-10-14 03:14] mcandre commented on #917
That Cucumber simply supports normal, expected Java project behavior out of the box, with no manual configuration required.

[2015-10-14 06:18] aslakhellesoy commented on #917
Can you give me a concrete example of what "normal, expected Java project behaviour" means to you?

[2015-10-14 12:33] aslakhellesoy commented on #917
It's still not clear to me what "manual configuration" you are referring to. You've posted a link to a document that has both examples of Gradle configuration and Cucumber configuration. The only Cucumber-specific configuration I can see is the command line options, which are passed from Gradle to Cucumber:

[code]

Are you suggesting that some of this should be removed? If so, what exactly?

[2015-10-14 13:53] dkowis commented on #917
Dude, you can just use a JUnit runner. See: https://github.com/cucumber/cucumber-jvm/blob/master/examples/java-calculator/src/test/java/cucumber/examples/java/calculator/RunCukesTest.java

No additional "manual" configuration required, at least at the project level.

[2015-10-14 14:56] mcandre commented on #917
Ah, I just had to find a more basic example!

https://github.com/mcandre/hello-kafka

[2015-10-14 14:56] #917 closed

[2015-10-14 17:59] mhfrantz commented on #918
Attempt to fix failed.  Reopen if there are better ideas.

[2015-10-14 17:59] #918 closed

[2015-10-14 20:31] #884 closed

[2015-10-14 21:00] sventorben commented on #915
Looks like your _src/main/java_ folder is not a bean archive. Enable bean discovery by adding an empty file called _beans.xml_ to _src/main/resources/META-INF_

Weld will then scan classes in src/main/java and injection should work as expected.

[2015-10-14 22:12] aslakhellesoy commented on #915
Would love a PR for this, demonstrating how it's done!

[2015-10-15 03:57] sventorben commented on #915
No PR needed. I do not think this is a bug in cucumber-weld. Looks like a configuration issue with @albers application code.

For more detailed information take a look at section "What is beans.xml and why do I need it?" in [CDI FAQ](http://www.cdi-spec.org/faq/#accordion3).

[2015-10-15 07:12] albers commented on #915
@sventorben Yo are right: following my how to reprouce instructions given above, you get a state where `beans.xml` is located in `src/test/java` whereas `Belly` is located in `src/main/java`. This is indeed a configuration issue.
The point is that injection still does not work if you also move `beans.xml` to `src/test/java`. In my understanding of CDI, a bean declared in `src/main/java` should be

[2015-10-15 07:30] albers commented on #915
@aslakhellesoy I created #920 to illustrate the problem.

[2015-10-15 07:36] aslakhellesoy commented on #915
@albers what's needed to close this ticket and #920?

[2015-10-15 07:49] albers commented on #915
cucumber-weld should be modified so that it works in the outlined setting: domain objects from `src/main/java` can be injected into glue code in `src/test/java` of the same project.

The acceptance criteria for that would be that the changes from #920 no longer break the build.

In its current state, CDI can only be used to inject objects that are defined in test scope into the glue, which is of l

[2015-10-15 08:59] aslakhellesoy commented on #915
@albers does this mean you disagree with what @sventorben said above?

[2015-10-15 15:40] albers commented on #915
Yes, I disagree with @sventorben. This is not an issue of a missing or misplaced `beans.xml`.

[2015-10-15 21:53] namiazad opened #922 "@Transform does not work in Scala DSL"
@Transform in Scala DSL does not work and I have to define my own class using XStreamConverter to make it work.

[code]

This does not pick `MyClassConverter` as a converter for `MyClass`

[2015-10-16 07:37] albers commented on #915
As @brasmusson pointed out in https://github.com/cucumber/cucumber-jvm/pull/920#issuecomment-148449568, this is not a defect in cucumber-weld but indeed a configuration issue as @sventorben already suggested.

Sorry for bothering you with this.

As Maven combines `src/main/java` and `src/test/java` to one classpath during the test phase, I assumed that this was also valid for Weld and that one `be

[2015-10-16 07:37] #915 closed

[2015-10-19 14:15] atorstling commented on #916
Sure thing, please see above.

[2015-10-20 02:53] dirathea opened #925 "IllegalArgumentException when passing feature path argument to Cucumber.cli.Main"
Hi team,
I'm currently trying to pass feature path/file to cucumber cli main, but it's trhow illegalargumentexception.
[code]

Currently I'm using jvm 1.2.4
`info.cukes:cucumber-java:1.2.4`

[2015-10-20 05:15] dirathea commented on #925
Sorry I think it's my mistake about passing the variable to cli main. I will close this issue. Thanks

[2015-10-20 05:15] #925 closed

[2015-10-20 22:42] pablobcb commented on #912
@dbcowboy, how am i supposed to replicate this patch?

[2015-10-21 04:02] dbcowboy commented on #912
Issue can be observed by first ensuring Oracle JDK 1.8.0u51 or earlier used to execute mvn test for cucumber-jvm/java8/pom.xml; observe all tests run as expected.  Next ensure JDK 1.8.0u60 used for same operation; observe IllegalArgumentException error for LambdaStepDefs.

Update source with pull request #914

Repeat tests with each JDK; no error occurs.

Very interested in @atorstling proposed ch

[2015-10-23 09:11] MatWisz opened #926 "Cucumber JSON reports embeddings new parameter "name""
I'd like to be able the obtain in the JSON report file inside embedding object additional object which storing name of attached embedding.

I see this as another parameter of method `embed()` in `Scenario` interface:

[code]

And adding a new parameter `"name"` inside `"embedding"` object in JSON report

[code]

[2015-10-23 13:35] apydmarri opened #927 "Cucumber+JVM+eclipse+maven : zh-CN ( chinese language feature ) not working"
Hello all,

we are trying to write cucumber using Chinese language.

below is the code which we are trying in

# language: zh-CN
#功能: 测试

	场景: 注册负方案
	 鉴于    一世      开放 "https://accounts.coursera.org/signup" 网址 在 该 浏览器

we have step-implemetations also but we are facing issues in cucumber script itself as it is not able to identify Chinese language. below are the screen shots

![screenshot2](https:

[2015-10-26 06:54] apydmarri opened #928 "Cucumber-Java i18n zh-CN in eclipse not working"
we are working on test automation using Cucumber-Java, Maven in Eclipse IDE below is the code which

I have also change default encoding to UTF-8
we are trying to execute but facing issues

Cucumber code

# language: zh-CN

功能: 测试

场景: 注册负方案

而且 一世 开放 "https://accounts.coursera.org/signup" 网址 在 该 浏览器

Below is the step implementation

@而且("一世 开放 \"([^\"]*)\" 网址 在 该 浏览器")
public void i_go_to_URL_Ch

[2015-10-26 07:09] aslakhellesoy commented on #928
This is a bug tracker, not a help forum. Please use https://cucumber.io/support

[2015-10-26 07:09] #928 closed

[2015-10-26 07:47] aslakhellesoy commented on #928
Example added to cucumber/cucumber-java-skeleton#12

[2015-10-27 13:43] markwinspear commented on #912
Is the pull request above being progressed? It would be nice to get some tests running again on later versions of JDK

[2015-10-27 16:02] aslakhellesoy commented on #912
It seems both #914 and #924 fix this issue. I'm investigating and considering applying both of them. Hold tight.

[2015-10-27 21:36] aslakhellesoy commented on #927
Not a bug. See https://github.com/cucumber/cucumber-java-skeleton/commit/5783b99f8509868f70eedd80afedc8f74132471b

[2015-10-27 21:36] #927 closed

[2015-11-04 14:44] kozhevnikov commented on #912
FYI JetBrains just release IntelliJ 15 which changes default new steps file autogenerating from annotated to lambda-based syntax (given the Java 8 project and/or Maven dependancy I presume), so a lot of new people will be hit by this right out of the gate (me included with OS X and Oracle's JDK 8u66).

[2015-11-04 18:47] tomdw opened #930 "When using DataTables use the parameter name to map on the table also as java param name"
Using datatables has, e.g.

Given a patient that is registered with a length <length> cm and weight <weight> gr
When I ask for the details of the patient
Then the bmi <bmi> is given rounded to two digits

|length |weight |bmi    |
|160     |64000 |25.39 |

Then why is the syntax of the generated method still using arg1, arg2 instead of more readable 'length' and 'weight'?

[2015-11-04 19:40] raner commented on #912
I'm running into the same problem on Mac OS X 10.11.1 with Oracle's JDK 1.8.0u65...
Any progress on this issue or a known work-around?

[2015-11-04 19:50] etlapa commented on #930
You need to change the RegExp and the method signature of your method manually. By default is created as you describe (two int params). Try something like:

@Then("^the bmi (\\d*.\\d*) is given rounded to two digits$")
public void the_bmi_is_given_rounded_to_two_digits(String bmi) throws Throwable {
//your code
}

If not works, try the regExp in sites like:
https://regex101.com/

To get the best r

[2015-11-04 20:34] aslakhellesoy commented on #912
I'm about to disappear for 6 weeks. Maybe @brasmusson can help in the meanwhile.

[2015-11-04 23:32] tomdw commented on #930
This change request is to automatically generate the correct name of the
java parameter based on the name given between < and > in the feature
description in my example given . Would make cucumber better. All info is
in place to do this.

Op woensdag 4 november 2015 heeft etlapa <notifications@github.com> het
volgende geschreven:

[2015-11-06 11:19] bademux opened #931 "[Q] Is it possible to parse DataDable to nested object?"
subj: Is it possible to declare properties in "dot notation"?
eg.:

[code]

[2015-11-08 16:24] saikrishna321 opened #932 "Is it possible to generate json report with different file names?"
Hi Guys,

I'm looking for a way to generate json reports with different file names, as i'm my tests in parallel.

Runner code looks like below, i need the cucumber.json file name to be the feature file name. I use Cucumber-JVM with Maven

[code]

[2015-11-08 16:24] saikrishna321 commented on #932
@aslakhellesoy can you please help me on this ?

[2015-11-08 17:05] dkowis commented on #932
This isn't a support forum. This is only used for bugs in the software.

Please use the cucumber Google group or one of the other options listed here: https://cucumber.io/support

[2015-11-08 17:05] #932 closed

[2015-11-09 18:42] RichardBradley commented on #912
(I have encountered the same problem.)

[2015-11-12 04:28] fixl commented on #912
We're facing the same problem with Oracle JDK 1.8.0_60 on Windows and Cucumber 1.2.4

[2015-11-15 04:29] schuchert commented on #912
I'm one of those unfortunate just-upgraded to Idea 15 CE.

Sure you know this, it happens in 1.2.4 and 1.2.3

I'm going to experiment. I have a Ubuntu VM I'll stand up with Java 8 and Idea 14 to see if the problem persists. I'll add Idea 15 to see if I can replicate.

Assuming I can, the VM def uses chef/vagrant and it's a public repo on git up. If you want a link to it, let me know. At least you'

[2015-11-15 04:53] schuchert commented on #912
Previous problem was Windows 10, Idea 15, Java 1.8 u60.

Next, Ubuntu 15.04, Java 1.8 u40, Idea 14.1.4. Same project works fine.

Installed and ran Idea 15. Reopened project (failed to open project as is, so reopened pom) and it also ran fine.

Going to upgrade to u65 on both Windows and Ubuntu (I also have my mac, but you all seem to have macs, so no need for me to experiment there).

[2015-11-15 05:31] schuchert commented on #912
Final comment of the night. Updated the java cookbook so I now download u65. Idea 14.1.4 + Java 1.8 u65 fails.

Clone this repo: https://github.com/schuchert/vagrant_java. Readme has details. This gives you a VM you an use on your mac (or pc or even other Unix distro) that will fail reliably.

[2015-11-16 09:29] lcintrat commented on #926
+1

[2015-11-16 13:38] ndefeijter commented on #907
'Dry run' your test cases before you 'execute' them. Example:

/**
 * This test 'driver' does not execute the actual test cases, but does a strict
 * dry run instead.
 * <p>
 * A dry run tests the Gherkin syntax for validity. Doing this strictly also
 * checks for all Cucumber glue code (step definitions) being available.
 */
@RunWith(Cucumber.class)
@CucumberOptions(
        plugin = { "pretty" }

[2015-11-16 15:05] Shumakriss commented on #907
Ah, I should have thought of that! Are there any examples or recommendations for how to incorporate a dry-run with Maven? If not, would that be a valuable contribution?

[2015-11-16 17:11] dkowis commented on #907
Please use the support forum on google groups: https://cucumber.io/support

I'm confident you'll be able to find an answer to your question there, this is for bugs with the software only. Thanks!

[2015-11-16 17:11] #907 closed

[2015-11-16 17:52] Shumakriss commented on #907
Sure no problem, thanks!

On Mon, Nov 16, 2015 at 12:11 PM, David Kowis <notifications@github.com>
wrote:

--
*Chris Shumaker*
(804) 615-6669
chris.shumaker@gmail.com

[2015-11-17 01:16] Eywa-Platform commented on #912
I confirm for Fedora 22 x64 Java 8 SDK Oracle 66
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] Cucumber-JVM ....................................... SUCCESS [  0.771 s]
[INFO] Cucumber-JVM: Core ................................. SUCCESS [  9.952 s]
[INFO] Cucumber-JVM: JUnit ................................ SUCCESS [  1.373 s]

[2015-11-17 07:01] aslakhellesoy commented on #912
Thank you all. We know it's broken and we know how to reproduce this. No more "me too" comments please. Just be patient, we'll fix this. Please be considerate that I am on leave until mid December.

[2015-11-18 20:51] programmerdave commented on #893
Hi! So we finally figured out how to make it run correctly based on what @emaillenin said.

 Just use the following setup in your build.gradle file:

[code]

Hope this helps someone!

[2015-11-19 18:47] Argelbargel opened #934 "Junit-Runner for Cucumber throws ClassNotFoundException if package name is 'cucumber' and no package for glue-code is specified"
When running cucumber-JVM with its JUnit-Runner using gradle i'm getting a ClassNotFoundException/NoClassDefFoundError if the package containing the class annotated with `@RunWith(Cucumber.class)` is named 'cucumber' and the package is not excluded (e.g. the glue path is set to another package using `@CucumberOptions(glue=package)`.

If RunCucumberTest is in a folder/package `/src/test/java/cucumb

[2015-11-19 18:54] Argelbargel commented on #934
Silly me! The problem is of course, that the package-name for my test-runner-class is the same as cucumber itself. Been staring at this the whole afternoon and only realized it after creating the issue-report :-D

[2015-11-19 19:21] #934 closed

[2015-11-25 15:35] jlorenzen opened #935 "A single failure is duplicated in the failsafe output"
It appears when using the maven-failsafe-plugin along with cucumber-jvm that a single failed Scenario is reported twice in the maven output. Is that expected? I've intentionally setup one test to fail, and when running `mvn clean verify`, the failure is reported twice and it appears I have two failures instead of one. I've attached all the output below.

<img width="564" alt="screen shot 2015-11-2

[2015-11-26 06:34] juliezbb commented on #666
Is there any progress on this?

[2015-11-26 08:24] bencody opened #936 "TableConverter with Java 8 Lambdas: "Not a Map or List" exception is incorrect and not helpful"
I'm using cucumber-core-1.2.4 and cucumber-java8-1.2.4. TableConverter.java throws the following exception when a Java 8 Lambda Given/When/Then is used with a List argument.

[code]

[code]

[code]

Work-arounds:

Use DataTable as an argument type and manually convert it to a List:

[code]

Or use the more verbose classic syntax:

[code]

If it's impossible to determine the type of the lambda list

[2015-11-26 19:36] mrunalgosar commented on #86
Hi aslakhellesoy.. i have found a neater way of implementing cucumber jvm parallel runs. i have small POC ready.. Let me know how can i send it for review?

[2015-11-26 20:21] aslakhellesoy commented on #86
Just send a pull request or put it in a new repo on github.

[2015-11-27 15:55] RichardBradley commented on #912
This relates to #916, which is another issue caused by the lambda examining reflection being insufficiently generic.

I suppose cucumber-jvm is doing something like the class constant table lookup described at http://stackoverflow.com/a/25613179/8261 , and the class format has changed underneath us.

The obvious fix would be to detect which class file format is in use, but that just extends the ha

[2015-11-27 19:24] mrunalgosar commented on #86
Hi aslakhellesoy.. I've forked the project, added the POC related changes to the JUnit project and commited it to forked source here: https://github.com/mrunalgosar/cucumber-jvm.git. Look at package: cucumber.api.junit.parallel. Let me know your views if this approach is doable further, then i can work on the same and get this feature implemented properly.
Regards Mrunal

[2015-11-28 13:20] mrunalgosar commented on #86
Hi aslakhellesoy.. I've forked the project, added the POC related changes
to the JUnit project and commited it to forked source here:
https://github.com/mrunalgosar/cucumber-jvm.git. Look at package:
cucumber.api.junit.parallel. Let me know your views on it. If this approach
is doable further, then i can work on the same and get this feature
implemented properly.
Regards Mrunal

On Fri, Nov 27, 20

[2015-11-28 16:21] aslakhellesoy commented on #86
Many people use Cucumber without using the JUnit runner. Core functionality (such as parallel execution) should not depend on JUnit.

Another thing we need to handle well is results - if there are many threads running scenarios, the results should still be collected and reported in the same way as if there were only one thread.

We'll implement this our own way, based on Gherkin3's pickles.

[2015-11-29 04:49] proninja commented on #263
Are there any updates or solutions? This bug is a showstopper for me, because the number of tests is wrong, when they are run by the Team City or Jenkins.

[2015-11-29 19:02] mrunalgosar commented on #86
Ok..sounds Fair enough.. i'll probably keep it in some kind of util and
share it if anyone is interested till the time gherkin3 comes alive.

Regards
Mrunal

On Sat, Nov 28, 2015 at 9:51 PM, Aslak Hellesøy <notifications@github.com>
wrote:

[2015-11-30 10:16] RichardBradley commented on #912
It does look to me like we could replace the class ConstantPool inspector with a compile-time Compiler Annotation Processor which records the declared generic types.
See e.g. http://stackoverflow.com/questions/29922668/get-typeelement-from-generic-typeparameterelement-for-java-annotation-processor

This would mean that `cucumber-jvm` would be using a public supported javac API, instead of hacking

[2015-11-30 10:54] aslakhellesoy commented on #912
Hi @RichardBradley

It would be fabulous to have a portable implementation. The current one has the following drawbacks/bugs:

* this bug (not portable across JDK versions)
* #916
* #936 - can't get the generic type of List and Map arguments

I haven't worked with annotation processors or compiler plugins, so I'm unaware of what you can do with them and what the pros and cons are.

But I (and ever

[2015-11-30 11:21] RichardBradley commented on #912
OK, no promises, but I'll have a go :-)
I would also push ahead with the current fix for now, as I don't know if this will work or when it will be ready.

[2015-11-30 11:35] RichardBradley opened #937 "Enhancement: make Java8 lambda steps reflection portable and use stable javac APIs"
See:
- #912: a JDK upgrade which changed class file layout broke Java8 lambda steps
- #916: closing over local variables breaks Java8 lambda steps
  - (currently fixed on branch https://github.com/cucumber/cucumber-jvm/tree/java8-fixes , using the existing Constant Pool inspector)
- #936: Java 8 Lambda steps don't support Map or List arguments
  - (may not be fixable using the the existing Constan

[2015-11-30 12:29] atorstling commented on #912
@RichardBradley : Good idea! I thought a bit about reflecting over lambdas as well, and my conclusion was that since the language designers made it really hard to get this information, perhaps it would work better to turn everything around instead: Use the input data to deduce the target type. If the cucumber list is a list of strings, just assume that the lambda argument is a List<String>. Might

[2015-11-30 12:38] aslakhellesoy commented on #912
@atorstling I think wanting `List<String>` is uncommon. When I use the feature I typically want each table row to become `List<MyValueObject>`

[2015-11-30 12:45] atorstling commented on #912
I suppose. This is also how many frameworks work today: jax-rs, many parts of spring etc. Funny how difficult it is to reflect over lambdas. Most frameworks must hit this eventually, just seems like you are the unlucky first :)

[2015-11-30 12:47] aslakhellesoy commented on #912
Yeah it's deplorable! Unforgivable! But we'll figure it out I hope.

[2015-11-30 12:52] RichardBradley commented on #912
That would be nice, but I don't think it's possible without a major redesign of the cucumber-jvm parameter parsing APIs.

See [`cucumber.runtime.ParameterInfo.convert`](https://github.com/cucumber/cucumber-jvm/blob/20db608a5535850139ba25fcdb9be3ae46991855/core/src/main/java/cucumber/runtime/ParameterInfo.java#L133) -- the parameter is specified by the step as a String, and converted to a domain ob

[2015-12-01 03:09] Darkvater commented on #308
I would like to second this as well. The current approach is undesirable as everywhere the custom converted type is used will have to be annotated. You want to set this globally.

Take for example org.joda.DateTime. This can be marshalled currently through the DynamicClassWithStringAssignableConverter, however new DateTime("string") will lose the timezone information so you want to use DateTime.pa

[2015-12-01 08:56] RichardBradley commented on #936
This is impossible with the current design, yes.
The current lambda steps parser uses reflection on the lambda object to get the param types, but the List generic type param info isn't retained at runtime.

The exception message has been fixed on master: https://github.com/cucumber/cucumber-jvm/commit/88ad3bd6506fab9efadd1be389b1554782009e22

I'm looking into support for this in #937

For the reco

[2015-12-01 09:45] bencody commented on #936
OK, thanks for the update!

[2015-12-02 14:39] tommywo commented on #926
+1

[2015-12-03 16:10] RichardBradley commented on #937
OK, here's what I have been able to find.
I have to say, this would all be easy in Scala, but is near-impossible in Java :-(

### Statement of Problem

We want to be able to write steps like:
[code]

The step definitions are stored as instances of `cucumber.runtime.java.StepDefinition`, which has properties "pattern" (regex) as a `String`, and 0..N parameterInfos as a `ParameterInfo`, which record

[2015-12-03 16:14] RichardBradley commented on #937
Actually, now that I've written all this out, option 4, "Leave all this alone, stick to inspecting the class constant pool" is looking increasingly attractive :-)

[2015-12-03 16:43] aslakhellesoy commented on #937
Hi @RichardBradley thanks for that very detailed analysis!

For starters I think we should add an additional API as described in option 1. It could be in `cucumber.api.java8.explicit`. People would be able to use it if they want. If that works out nicely we can look into option 3 (lombok) and automatically translate from the original API to the new explicit API.

The original API could maybe deleg

[2015-12-03 17:09] RichardBradley commented on #937
Good plan -- I like it.

Adding a `cucumber.api.java8.explicit` version like Option 1 will allow a workaround for #936 quickly without any risky changes. We can use the current reflection code (with its current limitations) to delegate to that API, and then look into adding Lombok to auto-translate to that API as a second step.

What do you mean by "Improve original constant pool API using the pro

[2015-12-07 13:33] lsuski opened #939 "MethodScanner performance issue"
Hi,
I found that MethodScanner scan() method

[code]

is very unoptimal for annonymous classes and generally not instantiable classes. For those classes `glueCodeClass` variable becomes `Object.class` which is useless. Then method scan() checks Object public methods against appearance of about 400 possible cucumber.api annotations

[2015-12-07 14:08] aslakhellesoy commented on #939
Do you have any benchmark numbers? Any suggestions?

[2015-12-07 14:39] lsuski commented on #939
I found this while resolving issue with Android Studio 1.5.0 debugger, starting tests with debug takes very long, about 10-15 minutes, and I found that execution hangs on scan method. Without debug it executes normally so it's not really cucumber issue. I think that  adding this would be sufficient
[code]

[2015-12-07 15:39] aslakhellesoy commented on #939
Feel free to send a pull request. You're in the best position to judge how well it works for you.

[2015-12-07 16:04] johndeverall commented on #393
I just came across this thread - see Serenity issue https://github.com/serenity-bdd/serenity-core/issues/221

It seems this feature would be very helpful for Spring integration, and a lot of people use Spring in the JVM world. Is there any chance this could be looked at again?

[2015-12-07 16:14] johndeverall commented on #894
JUnit Rules would be very helpful for tasks such as Spring Integration. For example [@SpringMethodRule](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/test/context/junit4/rules/SpringMethodRule.html) doesn't work with Cucumber, because of philosophy??? It seems there is a lot of functionality going into JUnit TestRules and you guys are (strangely) choosing to miss out o

[2015-12-07 19:48] SierraGolf commented on #894
@johndeverall what would you annotate with such an annotation and when should code bound to it be executed?

about the guice/spring classpath problem, please create a separate issue. possibly with a link to a repository where the issue can be reproduced.

[2015-12-09 14:56] stijnvanbael commented on #515
+1

[2015-12-09 15:56] bademux commented on #912
Reprodusable on jdk1.8.0_65 x86_64

[2015-12-09 16:11] bademux commented on #937
Please don't use magic like Lombok under the hood - it leads to undefined unstable behviour. [It may conflict  with another generators like Mapstruct](https://github.com/mapstruct/mapstruct/issues/510).
Lombok-like libraries can be used only directly or we all can  get to the [situation with Unsafe](http://blog.dripstat.com/removal-of-sun-misc-unsafe-a-disaster-in-the-making/), when our dependenci

[2015-12-10 11:25] RichardBradley commented on #937
The way I'm proposing to use Lombok to rewrite method bodies wouldn't cause conflicts like that in the issue you linked to.
However, I do agree that it's unstable -- perhaps the current bytecode inspection is safer.

As explained above, the annotation processing API isn't powerful enough to solve this case for us (doesn't allow inspection or modification of method bodies). I don't think runtime co

[2015-12-23 16:36] philip13 commented on #367
@mattwynne  Thank you!

[2015-12-30 18:23] holtzermann17 opened #946 "clojure_cukes example doesn't run (fix known)"
Steps to reproduce the error message are below.  Googling for the error I found this [question on Stackoverflow](http://stackoverflow.com/questions/27847974/classnotfoundexception-cucumber-runtime-formatter-formatterfactory), which suggests to remove "the info.cukes/* dependencies".

tl;dr: I can confirm that this change fixes the issue.

[code]

### reproduce the error if you would like

[code]

[2016-01-06 22:13] cdewangan commented on #368
Happy New Year to you all!!!

I was looking for tag info (of scenario and feature) before executing scenario because:

I wanted to run my scenario on particular mobile device based on tag provide(i.e. if the tag is ios I could run on ios devices, if its android I can launch android runner ) , before starting the test (scenario) I need to launch my runner from Before, based on tags.

Please let me

[2016-01-06 22:35] aslakhellesoy commented on #368
@cdewangan please ask questions in the [support](https://cucumber.io/support) forums.

This is a 3 year old closed issue, not a good place to have a discussion or ask for help.

[2016-01-07 14:41] anshulbajpai opened #948 "scala - Step definition erroring when regex contains a capture group within non capture group"
I have a step definition as

[code]

And my feature file step is

`Given I am logged in`

Then I am getting an error

[code]

Ideally, I'd expect the control to go into the step definition with null value for `user` parameter.

[2016-01-09 16:59] dkowis commented on #948
Nulls are never acceptable in scala, unless you're interfacing with java code. Perhaps a better semantic would be an `Option[String]` for the type of User. I certainly won't support putting `null` in there.

[2016-01-10 15:00] anshulbajpai commented on #948
I think you are right. I didn't think of using ```Option``` as parameter type. Thanks.

[2016-01-10 15:41] anshulbajpai commented on #948
It didn't work straight away, I had to write a transformer for it.

[code]

Would have been better if this transformation can be taken care by scala api

[2016-01-10 22:46] dkowis commented on #948
@anshulbajpai I agree, the API should do that. Care to try your hand at a pull request? ;)

[2016-01-11 10:07] anshulbajpai commented on #948
Sure..I'll take it up.

[2016-01-18 08:55] bencody opened #949 "ConstantPoolTypeIntrospector.java:37 problem with Oracle JDK 8u60+"
I'm using Cucumber 1.2.4 with the Java 8 extension. Everything worked fine with Oracle's JDK 8u45. After upgrading to JDK 8u60, Cucumber is throwing an exception:

[code]

The newest JDK version (8u66) unfortunately also has this issue.

[2016-01-18 08:57] aslakhellesoy commented on #949
Dupe of #912

[2016-01-18 08:57] #949 closed

[2016-01-19 12:34] tiaguiar opened #951 "Cucumber reports - Multi Features"
Hi,

I have an internally mounted test environment without using a CI tool like Jenkins and travis where I schedule my tests.

i use: selenium-grid + maven + cucumber-jvm + junit + cucumber reports plugin

my problem is when I send run a multiple tests (parallel) the cucumber reports plugin only show me the report of the last test .

I need that cucumber reports plugin return me a report with the

[2016-01-19 17:18] heshamMassoud commented on #912
@aslakhellesoy what is the status here?

[2016-01-19 19:34] aslakhellesoy commented on #912
@heshamMassoud the status of the issue is still open, if that's what you mean. I intend to fix it one day.

[2016-01-20 03:36] fedelopez commented on #912
That would be great, we are also experiencing this problem.

[2016-01-20 08:38] heshamMassoud commented on #912
@aslakhellesoy I meant by when should we expect this to be fixed. Would be really grateful. Thanks a lot.

[2016-01-20 12:28] aslakhellesoy commented on #912
@heshamMassoud I'm afraid I'm unable to provide time estimates. It will be done when it's done. All I can say is it's one of the highest priority bugs in Cucumber-JVM at the moment.

[2016-01-21 19:47] eguider commented on #912
The exception still occurs with JDK 1.8.0u60 to 1.8.0u72 (latest), but not with 1.8.0u51 and under.

[2016-01-22 10:38] sventorben opened #953 "TestNG does not fail if feature files are not parseable"
If a feature file has an invalid syntax and is not parseable, the dataprovider in AbstractTestNGCucumberTests does not fail. The dataprovider does not provide any feature to the test method. Accordingly, no tests are executed and the no tests fails.

I would expect the test to fail!

[2016-01-22 11:33] aslakhellesoy commented on #953
Would you be interested in sending a pull request with a fix and a test?

[2016-01-22 12:50] sventorben opened #955 "AbstractTestNGCucumberTests does not tear down test in case TestNG groups a set"
To execute cucumber tests with AbstractTestNGCucumberTests a group named "cucumber" must be set.
When setting a group, TestNG only executes methods annotated with that group or having thhe alwaysRun-attribute set to true.

Within AbstractTestNGCucumberTests there are two configuration methods, namely setUpClass and tearDownClass. Only setUpClass is annotated with alwaysRun=true, but tearDownClass

[2016-01-26 20:25] #953 closed

[2016-01-26 20:25] #955 closed

[2016-01-27 14:26] tommywo commented on #951
Each 'RunCukesTest' should have different filename - would be best to set it by @CucumberOptions annotation in class.

[2016-01-28 12:58] dattfemi commented on #515
Junit BeforeClass and AfterClass annotations work fine if you are using a JUnit runner. No issues with the static state.. Works fine with Page object Model for me.

[2016-01-28 16:38] mikeholler opened #957 "Allow multiple step patterns on the same method"
I've been working with Cucumber JVM for the past couple of months and have been loving it, but there's one feature I would love to see and I think others might as well.

Basically, I'd like to do something like this:

[code]

I know it's technically possible to do this via regex, but it's very ugly, uses extra capture groups, and allows for more than the two desired patterns:

[code]

What does ev

[2016-01-28 16:43] lvinniel commented on #957
Plus 1!

[2016-01-28 17:57] mikegolod commented on #902
For me it would be useful to load resources from a feature file location

[2016-01-29 17:03] JasonSmiley208 opened #958 "Rerun.txt format is currently broken (using maven) - doesn't run tests correctly when used as input"
So, when I generate a rerun.txt file via the rerun format:
`mvn clean test -Dcucumber.options="-t @rerun -p rerun:target/rerun.txt"`

and then pass this file into the maven runner:
`mvn test -Dcucumber.options="@target/rerun.txt"`

Then I get the following error:

Note, the feature file actually lives in "Cucumber-Tests/src/test/java/features/Rerun.feature"

inside of the rerun.txt file is:

Is th

[2016-01-29 17:22] JasonSmiley208 commented on #958
So, I modified the file to use the full path to the feature file (src/test/java/features/Rerun.feature:10:13) and that got the tests running correctly. Is this a bug then?

[2016-02-01 12:43] pgracio commented on #912
+1 having this problem.

[2016-02-02 12:58] sebastienD commented on #912
+1 having this problem.

Sébastien

2016-02-01 13:43 GMT+01:00 Paulo Grácio <notifications@github.com>:

[2016-02-02 19:35] moreau-nicolas commented on #957
I think this feature would be nice to have too!

Regarding the implementation I'd rather let the annotations be @Repeatable.

Your solution might be friendlier to non-Java 8 users, though.

[2016-02-02 19:43] mikeholler commented on #957
@moreau-nicolas it would be possible to make this annotation repeatable on JVM versions that support it. You can have it so that people using Java 8 can write:

[code]

And people using Java < 8 could write:

[code]

Notice that both examples work in Java 8, but only the latter works in Java < 8.

[2016-02-04 10:44] Flaburgan commented on #912
This issue is originally about OpenJDK, are you guys reproducing with a too recent Oracle JDK or with OpenJDK?

[2016-02-04 13:37] eguider commented on #912
@Flaburgan I reproduced the problem in Oracle jdk 1.8.0u60 to 1.8.0u72, and I think it occurs in openJDK too, as described in the precedent comments.

[2016-02-04 19:55] brasmusson commented on #958
There are limitations for workings of the rerun formatter and the usage of `@rerun.txt`.
What really works is to load the features from the classpath, that is:
[code]
followed by:
[code]
When loading features from a path on the file system, the limitations start to show up.
If I go to the [java-calculator example](https://github.com/cucumber/cucumber-jvm/tree/master/examples/java-calculator) and e

[2016-02-04 20:00] JasonSmiley208 commented on #958
I actually got this to work - I just put everything in the test/resource directory and that was sufficient for me.

Sorry... should have closed.

[2016-02-04 20:00] #958 closed

[2016-02-05 03:00] dkowis commented on #957
I don't believe this is a feature in any of the other Cucumber implementations. You are able to delegate to a method call, having two annotated methods, 3 methods total.

Help me understand how will this feature improve the quality of your Scenarios? How will this feature improve the communication between stakeholders?

[2016-02-05 19:05] clicman opened #959 "Unique Description identifier"
Hello! I`m allure-cucumver-jvm-adaptor developer. And I have various problems with scenarios and steps locating in my listener (for example https://github.com/allure-framework/allure-cucumber-jvm-adaptor/issues/25). So my suggestion is transparently add annotation to each description with some UUID. It wil help uniquely locate description placement in junit objects hierarchy.

@aslakhellesoy It wi

[2016-02-06 19:22] brasmusson commented on #959
As the `org.junit.runner.Description`:s created for the examples scenarios from an scenario outline are unique even though they might have the same display name (by the use of the [`createSuiteDescription`](https://github.com/cucumber/cucumber-jvm/blob/master/junit/src/main/java/cucumber/runtime/junit/ExecutionUnitRunner.java#L51) added [specifically for Cucumber-JVM](https://github.com/junit-team

[2016-02-06 20:13] clicman commented on #959
I`ve updated junit to 4.12 and i see, now fUniqueId is not null. But it still not equal for my comparsion.
I compare fUniqueId from Description which comes as parameter to testStarted in my listener and fUniqueId from Description which comes as parameter to testRunStarted (found it in object hierarchy).
As I see in debugger both objects looks same, but .equals method leadt to FALS for these fUniqu

[2016-02-07 20:48] brasmusson commented on #959
I cannot find a problem here. I can ([on a branch](https://github.com/cucumber/cucumber-jvm/compare/check-unique-junit-descriptions)) show that the [Descriptions of example scenarios may have the same display name, but are not equal](https://github.com/cucumber/cucumber-jvm/blob/check-unique-junit-descriptions/junit/src/test/java/cucumber/runtime/junit/ExamplesRunnerTest.java#L35-L36), and that [e

[2016-02-08 17:28] clicman commented on #959
Thank you for example. Now I found the problem. It happens when listener SanityChecker2 connects via po pom.xml as surefire-plugin parameter. (I`ve moved listener to picoconatiner project for easy debug)
[code]

Now if you run RunCukesTest.java you`ll see what step description fUniqueId ill not equals it`s mirror in suiteDescription

So loks like it`s surefire plugin issue. I`ve trined surefire 2.

[2016-02-10 10:15] slaout commented on #771
Hello,

I've seen a lot of threads on the Web about people wanting to continue steps execution if one failed.
I've discussed with Cucumber developers: they think this is a bad idea: https://groups.google.com/forum/#!topic/cukes/xTqSyR1qvSc
Many times, scenarios can be reworked to avoid this need: scenarios must be split into several smaller and independent scenarios, or several checks can be aggre

[2016-02-10 17:45] alb-i986 commented on #393
+1

I think the solution would be to have `cucumber.api.junit.Cucumber` extend `BlockJUnit4ClassRunner` instead of `ParentRunner`. In fact, BlockJUnit4ClassRunner encapsulates the Rules handling logic.
I'll see if I can find some time working on it.

[2016-02-11 10:55] johndeverall commented on #393
I'm also wanting to put some time into this but haven't looked into it since I last commented as I've been away on holiday. @alb-i986 I'll take a look at what you're suggesting. It sounds like you're ahead of me in conceptualizing a solution. I'll be able to comment more once I take a fresh look at the code.

[2016-02-12 17:01] mikeholler commented on #957
Cucumber relies on the natural language capabilities of Gherkin to allow tests to be written that are supposedly easy for both managers and programmers to understand. However, it's not always one person that writes specs (Gherkin .feature files) and even if there is one person it's very easy to write two steps that mean the same thing in syntactically different ways.

Currently, the only ways to h

[2016-02-12 18:04] alb-i986 commented on #393
@aslakhellesoy
Would you agree on having `cucumber.api.junit.Cucumber` extend `BlockJUnit4ClassRunner` instead of `ParentRunner`? Can you foresee any issues in doing that?
Thanks

[2016-02-14 04:09] mpalki-cabcat opened #960 "Cucumber tests in parallel with Maven surefire throw NPE"
We run Cucumber based tests in parallel using Junit.

When the surefire config is
[code]
then the tests work fine.

But when I use the following config
[code]

then the tests are fine (i.e Cucumber reports the scenario as passed), but still the below exception is thrown.
[code]

Most of the tests with this issue had a "(...)" in the scenario name. Example - " Scenario: I am a (test) user ... "
Whe

[2016-02-14 18:29] fmarmar opened #962 "JunitFormatter fails to report an scenario as skipped if a PendingException is thrown in a hook."
In cucumber-java 1.2.4 if you throw a PendingException in a scenario hook, all scenario steps are skipped as expected, but JunitFormatter doesn't detect it and it shows the scenario ok.

[2016-02-14 19:49] fmarmar opened #963 "cucumber.runtime.io.HelpersTest.computes_file_path_for_file_url test fails in windows"
When I tried to compile the project in a windows machine the test method 'computes_file_path_for_file_url' from test class 'cucumber.runtime.io.HelpersTest' fails with the given assertion error

org.junit.ComparisonFailure: expected:<[D:\Users\First Last\.m2\repository\info\cukes\cucumber-java\1.2.2\]cucumber-java-1.2.2....> but was:<[/Users/First Last/.m2/repository/info/cukes/cucumber-java/1.2.2

[2016-02-15 15:29] maikhorma commented on #912
I wanted to share some work arounds that I've found, in case it helps aybody else limp along until these fine gentlemen release a proper solution. I can't guarantee all solutions will work based on your jdk, but good luck!  (last one should work since it doesn't depend on generics at all)

**Disclaimer:** These workarounds are pure "hacks" and use at your own peril.

Feature:
[code]

Base case (ea

[2016-02-15 15:42] atorstling commented on #912
@maikhorma: Thank you for those. The reason why fields behave differently is due to issue #916. I believe that another good workaround to these problems would be to use anonymous classes instead of lambdas, since accurate reflection metadata would be retained.

Another workarounds are to apply dcowboys fix and build yourself, or revert to using annotations.

[2016-02-15 22:15] mpalki-cabcat commented on #960
I debugged this a bit. When run with the config
[code]
inside Junit a regex check is done.
See https://github.com/junit-team/junit/blob/3e43555e1f4df95b0a239f453af6d3226a8fef6e/src/main/java/org/junit/runner/Description.java
This regex fails when the Scenario description has  parentheses in it.

I am not sure why this is not an issue when the tests are run with the other config
[code]

In any case

[2016-02-15 22:15] #960 closed

[2016-02-16 14:15] andresd24 commented on #515
I don't see a resolution for this.  People who have mentioned to use  @AfterClass don't understand what we're trying to solve here.  We want a method that executes after *the entire cucumber test run*.  The @AfterClass doesn't work for this.  It throws errors.   If anyone has a solution it would be awesome if they take the time to share.  thanks.  -AD

[2016-02-16 14:36] OlufemiAdeOlusile commented on #515
@AfterClass executes after the entire cucumber test run if you are using a Junit Runner. If you insert your feature tag into the runner, Junit will run all the scenarios in that feature and when it ends it execute the AfterClass. The irony is that If you try to run from your feature file directly Junit will not run..... The only way to run this is to run it via your Junit Runner via the tags... Yo

[2016-02-16 14:56] Flaburgan commented on #912
So the only non-hack solution at the moment is to use Oracle JDK 1.8.0u51. Where can I find it? It only proposes me the last version...

[2016-02-16 15:09] Flaburgan commented on #912
Fyi I just posted a [$15 bounty](https://www.bountysource.com/issues/26892461-cucumber-java8-fails-on-openjdk-1-8-0) for the developer who would solve this issue.

[2016-02-16 15:16] eguider commented on #912
@Flaburgan for JDK 1.8.0u51 http://www.oracle.com/technetwork/java/javase/downloads/java-archive-javase8-2177648.html

[2016-02-17 13:41] andresd24 commented on #515
Hi @OlufemiAdeOlusile.   The @org.junit.AfterClass just doesn't want to run for me.  We solved this by extending the class to an abstract test class that adds a addShutdownHook to the Runtime and generates the reports....

TestClass.java:

`@RunWith(Cucumber.class)
@CucumberOptions(plugin = {"pretty","html:target/cucumber"})

public class IridiumDemoTest extends AbstractTest {

}
`
AbstractTest.ja

[2016-02-17 14:38] OlufemiAdeOlusile commented on #515
@andresd24  your welcome, I don't think the problem is with the Junit Afterclass.. Rather look at your implementation again and find out if the afterclass gets the same instance after your tests run. Am sure this will be fine.. hehe..

[2016-02-19 18:44] moreau-nicolas commented on #957
I completely agree with @mikeholler !

[2016-02-19 21:47] steimntz commented on #912
I've had the same problem in Arch with Java version "1.8.0_74".

[2016-02-23 09:06] sukeshjain commented on #849
Method examples of FilterFormatter class in Gherkin2 package has been changed to fix this problem. However, new version of Gherkin2 is not released. Can we have a new version of Gherkin2 to solve this issue?

[2016-02-23 11:19] sukeshjain commented on #648
Method examples of FilterFormatter class in Gherkin2 project has been changed to fix this problem. However, new version of Gherkin2 is not released. Can we have a new version of Gherkin2 to solve this issue?

[2016-02-27 19:58] JSlain opened #965 "cucumber-spring with @Configuration class fail with @Scope("cucumber-glue")"
They way the _cucumber-glue_ scope get registered won't work when you're using some of these scoped components in your non-scoped components declared in your configuration.

For example:

[code]

This is because the way the scope currently get registered, we need the ApplicationContext to add the scope into it.

[2016-02-28 16:51] mpalki-cabcat opened #966 "Test output logs incorrect when running Cucumber feature files in parallel"
When the following surefire plugin config is used
[code]
then the output from the tests is partially directed to the 'xxxtest-output.txt file and partially to stdout.  At first I thought this was a surefire plugin bug and filed this ticket (https://issues.apache.org/jira/browse/SUREFIRE-1230). The ticket has steps to reproduce the issue.

However, I debugged the issue a bit and found that when I r

[2016-02-28 16:56] mpalki-cabcat commented on #966
Versions used
1. cucumber-java - 1.2.4
2. maven surefire - 2.19.1

[2016-02-28 19:43] #962 closed

[2016-02-29 21:09] JasonSmiley208 commented on #393
I can think of one potential issue, but maybe not an issue (not sure how Cucumber.class is being used).

`BlockJUnit4ClassRunner` does not work with dependency injection frameworks like Spring. There is Spring JUnit Runner for example and I am assuming other Dependency Injection Frameworks (DIs) use their own runners as well. I know that the Spring Runner current does not support all @Rule annotat

[2016-02-29 21:25] rlogiacco commented on #393
There is also a JUnit 5 alternative... :)

Il lunedì 29 febbraio 2016, Jason Smiley <notifications@github.com> ha
scritto:

[2016-03-01 16:29] SowmiaS opened #968 "Support for Android Instrumentation"
Any answer to this question:
http://stackoverflow.com/questions/35607500/android-unit-testing-cucumber-jvm-android-instrumentation

[2016-03-02 23:22] whittle commented on #600
I am encountering this error with v1.2.4. I have a class co.masslab.shiba.CucumberTests annotated with:

[code]

A step definition class in the same package annotated with:

[code]

And a DataSourceConfig class, also in the same package, that looks like this:

[code]

The innermost error in the stack trace is `java.lang.IllegalStateException: No Scope registered for scope name 'cucumber-glue'`.

I

[2016-03-02 23:24] whittle commented on #600
Sorry, just now saw #965 which I assume covers this issue.

[2016-03-02 23:26] whittle commented on #965
I have also encountered this issue. Is there a work-around?

[2016-03-02 23:49] JSlain commented on #965
Yes there is.
You need to register the GlueScope directly in your configuration, like this:

[code]

However, you can't do it directly since **GlueCodeScope** is package visible.
The workaround is to create a new class with the **@Configuration** annotation in the same package as **GlueCodeScope** (which is *cucumber.runtime.java.spring*). Register the scope in it with the code above.

Then in you

[2016-03-03 08:17] Supreme85 commented on #804
Is my issue related to this one? What actual status of it? (as I can see PRs 653 and 621 closed but issue still open)
My problem:
If I run tests using TestNG runner I have no steps in my IntelliJIdea view (and can't get them in report)
But if I use JUnit runner I can see all steps
JUnit runner
@RunWith(Cucumber.class)
@CucumberOptions(<same options as in TestNG runner>)
public class JUnitRunner {

[2016-03-04 09:57] codependent commented on #912
Any update about this issue? Just tested with Oracle's JDK 1.8.0u74 and the same error shows up.

[2016-03-04 10:19] aslakhellesoy commented on #912
Sorry for the delay folks - I've been snowed under. It's still on top of my priority list of bugs to fix. Just need to set aside a day or two to fix this properly and make a new release.

I believe I have all the info I need to fix this - just need the time.

I'm closing this issue for comments for now.

[2016-03-06 19:25] brasmusson commented on #804
In Cucumber-JVM v1.2.3 and later, each feature should be executed as a separate TestNG test when extending `AbstractTestNGCucumberTests`.

[2016-03-06 19:25] #804 closed

[2016-03-07 23:14] SowmiaS commented on #968
Support for Android Junit Rules!!!!! Can anyone give idea how I can solve this problm

[2016-03-08 09:19] SierraGolf commented on #968
since junit `@Rule`s are basically just a modularisation of `@Before` and `@After` logic, I think this issue duplicates #894.

sadly the original creator of that issue did not answer my last question. if you can give some more inside why such a rule would be necessary and how you would use it please do that on the other issue and close this one.

[2016-03-08 18:28] jcannon-sovrn commented on #957
+1 - as the number of scenarios we have grows and grows - 240 and counting in one of our products - it's very possible that you end up reusing steps whose function is exactly what you want, but as part of the plain-language story you are describing with scenarios and steps, sounds a little weird. I've ended up using the regex option for is/are, a/an, plurals, etc., which works, but does make it lo

[2016-03-09 15:28] mikeholler commented on #957
@jcannon-sovrn I didn't think about it at first, but pluralization is an obvious benefit to this.

@dkowis this is something I would love to see added (obviously) but am wondering if Cucumber-JVM is the best place to ask for this feature. Is there a better place to make this request, perhaps on a universal cucumber standard rather than this implementation?

[2016-03-12 14:23] L3K0V opened #972 "Could not generate test report because of outline examples"
I have following scenario outline with examples:

[code]

and defined test class as follow:

[code]

Then my build failed because of:
[code]

I saw there was and --expand option but my project is configured with 1.2.4. How can make my build not failing and optionally to have successfully generated report.

[code]

I'm on windows.
Thanks.

[2016-03-13 00:00] pernalin commented on #963
Duplicate of https://github.com/cucumber/cucumber-jvm/pull/897

[2016-03-18 14:45] IntelloScooby commented on #604
I am working on a mobile automation framework and use external reporting API. With this API, I would like to log a PASS, FAIL or INFO status after each step along with the step/step definition name. Right now, I have to add this line of code at the end of each step definition for logging in the external report. This is not a good practice and once our framework and team starts growing, it will be

[2016-03-21 22:51] whittle commented on #965
Thank you, @JSlain! Your work-around make the cucumber-glue scope available across my test support classes.

For people looking for an answer in the future, the way I was able to tell that this was working was the following message from DefaultListableBeanFactory in my logs: `Replacing scope 'cucumber-glue' from [cucumber.runtime.java.spring.GlueCodeScope@2c6f0ce3] to [cucumber.runtime.java.spring

[2016-03-22 13:16] szabolcslevay opened #973 "Embed Screenshots does not work on Electron application"
Hello,

In order to embed screenshots for failing scenarios I user the following `@After` method:

[code]

Debugging, I found the followings:

[code]

The usage in case of [Electron](http://electron.atom.io) applications is different? Or is not supported yet? Or am I doing something wrong?

Thanks,

[2016-03-25 14:49] bassmake commented on #885
Hello,
it looks like Transformers are not working with cucumber java8. Am I right, or is there some workaround for this?

[2016-03-25 14:56] aslakhellesoy commented on #885
Java's reflection doesn't seem to provide the information necessary to support this. It seems impossible to get the generic type of a lambda argument.

[2016-03-25 19:18] bassmake commented on #885
thanks for answer. Is there plan to support Java8 date-time classes in cucumber-java8?

[2016-03-25 19:44] aslakhellesoy commented on #885
@bassmake I suggest you create a new issue for date-time support with clear code examples illustrating how you would like it to work.

[2016-03-25 19:54] bassmake opened #974 "support for java 8 Date-Time classes"
It would be nice to have support for Java 8 Date Time classes in cucumber.
in scenario:

[code]

in java:

[code]

using `LocalDateTime.parse` should be enough for this

[2016-03-25 20:08] bassmake opened #975 "Java8 not working with picocontainer"
When I want to use java8 with picocontainer I am getting error
example project: https://github.com/bassmake/cucumber-java8-di
error:

[code]

[2016-03-25 20:23] bassmake commented on #975
It looks like the same problem is with Guice:
[code]

[2016-03-26 05:58] tcwmj opened #976 "CucumberOptions: Tags and name do not work well together"
If I only set tags in cucumberOptions, it can filter which scenarios match the tags will be executed.
If I only set name in cucumberOptions, it also can filter which scenarios match the name will be executed.
if I only set feature path and scenario lines, it also can filter which scenario match the line will be executed

if I both set tags and name (or scenario line), nothing will be executed with

[2016-03-26 06:17] tcwmj commented on #976
I found in method detectFilter in FilterFormater.java, IllegalArgumentException will be thrown when filterClasses >1, does only single type be expected? tags, or lines, either names,

   private Filter detectFilter(List filters) {
        Set<Class> filterClasses = new HashSet<Class>();
        for (Object filter : filters) {
            filterClasses.add(filter.getClass());
        }
**        if

[2016-03-26 09:03] brasmusson commented on #976
Specifying tags, specifying (scenario) name, and specifying feature path and line are three different way of specifying which scenarios to execute. You can only use one of them at the time.

[2016-03-26 09:24] tcwmj commented on #976
Thanks @brasmusson, I expect to add these kinds of filter to work together as it's a real requirement.
BTW, is that possible to change default FilterFormatter to custom one? how to configure by CLI or cucumber options?
eg. --plugin "filter:org.something.CustomFilterFormatter"

[2016-03-26 09:40] tcwmj opened #977 "How to transfer testng parameters from "BeforeClass" method to "Before" method?"
I have my XXXTestNGRunner extends AbstractTestNGCucumberTests, and it has a methods annotated with "BeforeClass" which will get parameters from TestNG XML configuration file,
like this:
@BeforeClass
    @Parameters({"os", "os_version", "browser", "browser_version", "resolution"})
    protected void beforeClass(ITestContext testContext, @Optional String os, @Optional String os_version, @Optional St

[2016-03-26 09:47] brasmusson commented on #976
Then you would also have to design a way to specify how they should be combined. "Run all scenarios that matches this tag expression plus the scenarios that matches this name expression" is very different from "Run all scenarios that matches this tag expression if they also matches this name expression".

It is not possible to change the FilterFormatter to a custom one.

[2016-03-26 09:56] tcwmj commented on #976
Thanks, I expect "tags and names", but someone might prefer "tags or names", so the default FilterFormatter keeps a single filter....

[2016-03-26 16:06] dkowis commented on #977
This isn't a support forum, but instead for bugs oft the software.

I recommend asking on the cucumber google groups, or one of the other methods listed here: https://cucumber.io/support

[2016-03-26 16:06] #977 closed

[2016-03-30 08:10] tcwmj opened #979 "[Hooks] endless loop was encountered when exception occurred in before Hooks"
I have my before Hooks which would throw exceptions, when exception occurs, my CLI runner couldn't stop, it seems it's a endless loop.

@Before
public void before(Scenario scenario) throws Exception {

[2016-03-30 20:05] mikeholler commented on #893
Is there any way to permanently fix this so we don't need to manually edit this library's dependencies?

[2016-04-01 12:36] maveco69 commented on #957
+1 for this.

I've some situations that means same code but diff step def. I'd love this feature.

[2016-04-01 15:29] mikeholler commented on #957
@dkowis any update on whether this is the correct place for this issue?

[2016-04-04 09:28] ravipallanti opened #982 "Test cases are skipped even if @skip tags are not used"
Hello,

I see that my test cases are skipped.It executes all the steps then it says test case is skipped.No more information is given in the logging
I did not add any skip tags.

I use Cucumber - serenity - java

error	01-Apr-2016 17:02:24	315054 [main] INFO net.serenitybdd.core.Serenity -
error	01-Apr-2016 17:02:24	            __  _____ _____ ____ _____   ____  _  _____ ____  ____  _____ ____
err

[2016-04-05 10:04] #982 closed

[2016-04-06 13:59] auno opened #985 "@Before and @After hook order comparison susceptible to underflow"
If two @Before hooks are created with a great enough difference (i.e. greater than 2^31), they may be executed in the incorrect order due to an arithmetic underflow in HookComparator.

[2016-04-06 14:02] aslakhellesoy commented on #985
Why is this a problem? How many hooks do you have? Feel free to submit a fix if this is a problem for you.

[2016-04-06 14:03] aslakhellesoy commented on #985
Just spotted the PR - thanks!

[2016-04-06 14:05] auno commented on #985
You don't need that many. My scenario is that I have one @Before hook that I want to always run first, so to guard against future bugs I give it `order = Integer.MIN_VALUE`. This combined with another @Before hook with the default order of 10000 triggers this.

[2016-04-07 03:28] tcwmj commented on #979
please close this issue, I can't replicate it again.

[2016-04-07 13:36] mannejkumar opened #987 "Setting custom parameters to scenario to access them in After hook"
I am trying to integrate cucumber with testrail. To send the result to testrail i need the test case id. I am getting scenario.name and scenario.id in After hook. But i need to pass custom id from feature file and set it to scenario object. for example i need to pass TC01 while running first scenario. then i get this id in Afterhook to send the http request to test rail along with id. Is there any

[2016-04-07 13:43] mannejkumar opened #988 "Support to define execution order of feature files in cucumberconfig file"
It will be very useful if we have options to define the execution order of feature files.

[2016-04-07 13:52] aslakhellesoy commented on #988
We'll never add this I'm afraid. It's an old debate and our firm stance is that scenarios should be independent.

[2016-04-07 13:52] #988 closed

[2016-04-07 14:23] #979 closed

[2016-04-09 03:13] tcwmj commented on #987
You might not to set the custom parameter to the hook methods.There is another approach to setup a map with the scenario as a key and your parameter objects as value, you can get your parameters by the key in any methods.

[2016-04-11 05:37] mannejkumar commented on #987
where can i find this code? actually after executing scenario, before taking screenshot in "after" method  i want to get the test case id to send the result to test rail `After { scenario ->
       // send test result to testrail.  by using below code
      Map data = new HashMap();
data.put("status_id", new Integer(1));
data.put("comment", "This test worked fine!");
//need to get test case id fro

[2016-04-13 18:04] #985 closed

[2016-04-14 01:44] stanislav-antufeev opened #989 "Lazy loading feature file and running (JUnit or TestNG Runner)"
I am facing the problem with running huge number of feature files, around 10,000. Some of them contains multiple scenarios (more than 5)and i am getting OutOfMemory error on ~1200 executed feature files. As I understand how JUnit and TestNG runner classes have been implemented, they are both loading all given feature file into memory and parsing using Gerkhin library. Current implementation of JUn

[2016-04-15 12:38] Doogiemuc commented on #936
Just ran into the same issue. Thanks for the workaround.

[2016-04-15 13:22] OanaPasnicu commented on #972
Could you give more information and sample how you have defined the ':devices:test' task?

[2016-04-16 14:36] haroon-sheikh commented on #951
@tiaguiar is this still an issue?

[2016-04-17 03:03] stanislav-antufeev commented on #974
How are you going yo specify format of your string date in step definition ?

[2016-04-17 06:25] mrduguo commented on #972
It happens to me as well on Windows due to the generated step name contain illegal windows characters with root cause:
`Caused by: java.io.FileNotFoundException: ...\github\mrduguo\gradle-sample-cucumber\build\reports\tests\packages\| 127.0.0.html (The filename, directory name, o
r volume label syntax is incorrect)
        at org.gradle.internal.IoActions$TextFileWriterIoAction.execute(IoActions.j

[2016-04-17 07:53] mrduguo commented on #972
Found related discussion: only fail if the outline value contain DOT
http://stackoverflow.com/questions/25174141/could-not-generate-test-report-in-gradle-due-to-cucumber-step-syntax

[2016-04-17 08:39] mrduguo commented on #972
Created sample project [gradle-cucumber-jvm-issue-972](https://github.com/mrduguo/gradle-cucumber-jvm-issue-972) to reproduce:
[code]

[2016-04-17 08:57] bassmake commented on #974
something similar to https://github.com/cucumber/cucumber-jvm/issues/84

[2016-04-22 08:48] RichardBradley opened #993 "Best way to tear down Step classes and their dependencies?"
Hi,

I have a medium / large webapp using `cucumber-jvm` for integration testing.

We have 38 Step definition classes (one for each feature group, and a few common step groups), which use 23 "connector" type dependency classes. The connectors do things like connecting directly to the database of the app under test for steps like "given I have a widget of type X".

The step code looks a bit like:

[2016-04-22 09:18] RichardBradley commented on #993
I have created a pull request to address item 3 above: #994

[2016-04-23 18:53] ereber commented on #630
Anything new on this issue?  I have never contributed to a project such as this but am willing to help in any way that I can - this would be a great capability!

[2016-04-25 03:36] stanislav-antufeev commented on #989
Could you please verify my commit. I can understand that it is not common case but an issue is exist and should be fixed or as I created a separate solution to run huge amount of feature files.

[2016-04-25 05:55] aslakhellesoy commented on #989
Please create a pull request. Our CI will then verify it automatically.

[2016-04-25 10:10] TuireHolappa opened #995 "CucumberOptions glue with two packages having the same start causing DuplicateStepDefinitionException"
We have general Cucumber steps in a shared Maven project that is defined as Maven dependency for the tested project where the Cucumber files reside.

When having a junit test definition similar to this:
<code>
package com.example;

import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import net.serenitybdd.cucumber.CucumberWithSerenity;

@RunWith(CucumberWithSerenity.class)
@Cucu

[2016-04-25 16:22] danielwegener commented on #630
Hi @ereber! Glad you picked up this issue. I've almost forgot about it. In my initial work towards a solution I stumbled across so many entangled state and side effects that I came to the conclusion that it's not really doable without _major_ API changes. These changes would probably not only affect cucumber-jvm but also tools like intellij's cucumber-java integration (and friends), which then wou

[2016-04-25 17:14] danielwegener commented on #630
I guess the basic idea can become clearer if you look at https://github.com/danielwegener/cucumber-jvm/commit/22ec6f5d52da04ee2c899a8e51bfc564e20f4cf1 :)

[2016-04-25 23:59] mikejramsey56 commented on #804
I am running cucumber-java, cucumber-testng v1.2.4 with testng v6.9.10. I am using the TestNG runner. Tagging in the feature files works fine (only the selected features/scenarios execute).  But the reports are abysmal. I personally don't have a problem with the JUnit test runner but my client is set on cucumber and TestNG.  Cucumber is doing its part by running tagged tests. I'll try to dig aroun

[2016-04-26 15:58] stanislav-antufeev commented on #989
I am already created and closed. I was confused by GIT Hub process of pull request a bit. @aslakhellesoy Are you seeing my pull request ?

[2016-04-26 16:31] aslakhellesoy commented on #989
Yes, I can see #991 thanks

[2016-04-27 03:26] stanislav-antufeev commented on #995
Try to run your tests using the same  Cucumber.options using cucumber.api.cli.Main class.

[2016-04-27 21:16] jenisys commented on #630
@danielwegener
Your approach is still lacking some aspects that need to be addressed (at some point in time):

1. You need to give the user / feature-writer some means of control on parallel-execution.
    For example, the user can tag a feature with the ``@sequential`` tag to mark that its scenarios should not be executed in parallel.
2. If you are not only testing software, but real systems (har

[2016-04-27 22:49] danielwegener commented on #630
Hi @jenisys , cheers for your feedback - good to get the discussion rolling :) . My code attempt mentioned above is already kind of outdated and I learned some more things.

I think to control whether tests should be executed in parallel should not be defined in the gherkin model but rather in the runner (e.g. via `@CucumberOptions`). Cucumber scenarios itself should (as far as I understood it) be

[2016-04-27 22:59] danielwegener commented on #630
The point about reporters and _progressIndicators_ is also very good.  There are some reporters (like the junit reporter) which are only interested in progress events in a timely manner (like scenario A step 3 failed) and others which really expect to receive a sequence of invocations which must, even if executed concurrently, be serialized before they are written to the wire (like console-output,

[2016-04-28 04:11] mikejramsey56 opened #996 "Cucumber TestNG reporting"
I know that this issue has been discussed but I cannot get a satisfactory resolution.  I don't want to create a test runner for each feature file and I want a scenario to map to a TestNG '@Test.'.  The root of the problem is that TestNG wants to know the Scenario name in @BeforeClass but cucumber doesn't make the scenario name available until its @Before which runs as part of @Test.

TestNG wants

[2016-04-28 07:11] JWGmeligMeyling commented on #515
No, the workaround is not sufficient. This is because it only cleans up test state when the VM terminates, and not before continuing to execute other (JUnit) tests. Lets see if we can fix the problems with #678 .

[2016-04-29 10:38] RichardBradley opened #997 "HTML report cannot be displayed when incomplete"
The HTML report is written to "report.js" as the test run progresses, but the javascript preamble contains a function opening brace:

[code]

(see [the relevant code](https://github.com/cucumber/cucumber-jvm/blob/0aecc4d3e4c15fc34b63f848043deba2c230e35f/core/src/main/java/cucumber/runtime/formatter/HTMLFormatter.java#L58)).

This means that if the test run is aborted (for example, manually after a

[2016-04-29 11:47] sergey-vladimirovich opened #998 "Java 8 and IllegalArgumentException: Wrong type at constant pool index"
Hello, there were some troubles with cucumber-jvm running on OpenJDK earlier (see https://github.com/cucumber/cucumber-jvm/issues/912). But it does not work on Oracle JVM too. And it is showstopper, you know.
Somewhere between 1.8.0_51 and 1.8.0_60  Java become cucumber breaker. See https://groups.google.com/forum/#!topic/cukes/VMpJPa1xx58

I faced this issue when upgraded my Oracle Java 1.8.0_45

[2016-04-29 14:26] JWGmeligMeyling opened #999 "classpath:features also runs features from dependencies"
`classpath:features` also runs the features in the resources of (test) dependencies. This is inconsistent with for example JUnit, that does not run the testcases from classes in the classpath from transitive dependencies.

[2016-05-03 12:58] RichardBradley opened #1001 "enhancement: allow Java8 lambda steps to throw checked Exceptions"
Any steps declared with the Java8 lambda syntax may not throw checked Exceptions:

[code]

It would be more convenient for developers if they were declared as "throws Exception"; the runtime machinery all copes with it fine, and it avoids lots of "`catch(e) { throw new RuntimeException(e) }`" noise.

This should be a simple change to the interface declarations in [`StepdefBody`](https://github.com

[2016-05-03 13:12] RichardBradley commented on #999
(By convention, Java JARs should not include test resources, so this is arguably a bug or misbehaviour by the dependencies that have published their feature files. This does sound like a sensible fix though.)

[2016-05-03 13:13] RichardBradley commented on #998
This is just a duplicate of #912, isn't it?

[2016-05-03 13:56] JWGmeligMeyling commented on #999
In a common scenario, you do not include the test-jar, agreed. But sometimes you do, for example when you want to share test modules or custom mock classes. And in this cases JUnit does not run the testcases from that dependency, even though the classes are on the classpath. But Cucumber runs the features from the dependencies. This is inconsistent with JUnit, and in my opinion the behaviour of JU

[2016-05-03 14:00] RichardBradley commented on #999
(When you want to share test modules or custom mock classes, the correct approach would be to publish a "`myproject-test`" jar which has the classes needed in its `src/main` dir, rather than publishing your `src/test` dir. As you say, JUnit's approach is more forgiving though.)

[2016-05-04 13:06] florent37 commented on #893
@programmerdave you saved my life :)

[2016-05-05 14:44] danielwegener commented on #630
@aslakhellesoy Are there any objections against upgrading to java7 (maybe android)? I consider using the ForkJoin/RecursiveTask-Framework for concurrent execution.

[2016-05-05 16:29] whiskeysierra commented on #630
@danielwegener I'm convinced that concurrent testing should be provided by the actual framework, e.g. JUnit, i.e. cucumber shouldn't prevent it, but it should implement it either. See for example https://github.com/jhorstmann/zuchini, it's a rewrite that supports JUnit parallel executions (not saying that a rewrite is necessary, but it helps my case).

[2016-05-05 17:09] danielwegener commented on #630
@whiskeysierra Yes and no. `cucumber.api.cli.Main` is (kind of) a test-framework that _is_ part of cucumber-jvm and imo should provide concurrent execution (it is used by the intellij cucumber-java runner). But I agree, the actual concurrency mechanism should not leak into the runner SPI used by junit, testng and friends. Ideally I'd prefer to use `java.util.concurrent.CompletableFuture` but depen

[2016-05-11 16:47] dkowis commented on #912
I was going to see if I can fix this. JDK 1.8.0u92 doesn't seem to fail when I run `mvn test`. Was that the way to see the error before, @aslakhellesoy? That's what I gathered from reading the thread, but I don't seem to be able to replicate it...

[2016-05-11 16:50] dkowis commented on #912
[code]

[2016-05-11 17:02] dkowis commented on #912
I'm stupid and only checked Oracle JDK u92 doesn't have any problems. Lemme try OpenJDK

[2016-05-11 21:10] #946 closed

[2016-05-11 21:33] #972 closed

[2016-05-15 10:10] JWGmeligMeyling commented on #993
Hi @RichardBradley ,

We've been using `cucumber-jvm` for a while now and I've been really struck by the design issues related to the `@Before` and `@After` annotations. They really should only be invoked if you use a step definition from that step definition class file. Is there an open issue for this already?

[2016-05-15 20:23] RichardBradley commented on #993
That's a separate issue to the one I'm discussing here, which is about how to ensure that `@After` steps are run in a consistent dependency-order.

To avoid derailing this issue, please could you raise a new issue about that? If you CC me on there, I'll add my thoughts about it.

[2016-05-16 10:32] JWGmeligMeyling opened #1005 "Before and After methods invoked for unused step definition classes"
Currently, all classes that contain step definitions are instantiated and all before and after methods are ran. This behaviour is very unpreferable. For some stories you just don't need some (potentially heavy) domains to be setup. So if one scenario requires a web container to be set up, and an other scenario does not use any step definitions from that `WebContainerStepDefinitions` class, the `@B

[2016-05-16 11:26] brasmusson commented on #1005
No, classes that contain step definitions are only instantiated right before the (first) step definition or hook method defined in them is called.

Yes, the semantic of a `@Before` method is that it is executed once before each scenario. This can be restricted by the use of tags, so that the `@Before` method is only executed once before each scenario with the specified tags.

Conceptually both ste

[2016-05-16 11:41] JWGmeligMeyling commented on #1005
But it makes no sense to run all methods annotated with `@Before` for the entire classpath. See my example. It's insane. It doesn't scale up with bigger (actual) projects.

[2016-05-16 18:05] RichardBradley commented on #1005
I have also found that all step definition objects are instantiated for each scenario, even if they do not contain any steps which are used in that scenario.

Perhaps this behaviour is specific to the Java 8 steps (whose steps are defined at runtime, not statically) or perhaps it depends on which CI you use (I am using Picocontainer).

I tend to agree with this, although I can see that @brasmusson

[2016-05-16 18:49] RichardBradley commented on #1005
re test classes from project dependencies: those classes should not be on your classpath: projects should not, by convention, export their test classes. See https://github.com/cucumber/cucumber-jvm/issues/999

[2016-05-16 18:50] RichardBradley commented on #1005
You may well be able to get fine-grained control of this if you switch the DI framework for the steps -- have you tried that?

[2016-05-18 18:54] brasmusson commented on #1005
I challenge the statement "before and after methods for step definition classes", there is nothing that says that a class that define a before or after method also needs to defined a step definition. Comparing with an example in the Cucumber-Ruby project (examples/i18n/en), the step definitions are defined in the file `features/step_definitions/calculator_steps.rb` and the hooks are defined in the

[2016-05-19 09:38] RichardBradley commented on #1005
re whether definition classes are instantiated even if not needed -- I expect this is a "Java8" difference. The `java-calculator` example uses definition classes with statically annotated Steps, so it is possible to  determine if a class contains steps without instantiating it.

When Java8 step definitions are used, the steps are defined dynamically at runtime, see https://cucumber.io/docs/referen

[2016-05-19 09:55] JWGmeligMeyling commented on #1005
I see how the `@Before` and `@After` are intended now, and why they are always invoked, and I also see the issues related to not running these hooks only if a step definition is used from that class as well. You should therefore keep the computation in these hooks relatively easy, potentially reusing the result from a previous ran. However, sometimes you just have to setup more intensive context f

[2016-05-19 10:13] JWGmeligMeyling commented on #999
Closing this as I feel both options have their own quirks, and sharing the features may also be useful in some ways as well.

[2016-05-19 10:13] #999 closed

[2016-05-19 10:17] JWGmeligMeyling commented on #1005
Actually now I think of it, if the domains are properly organised by packages, and the step definitions for that domain share the same package, you can just load multiple glue packages. So that seems like the preferred way of doing this then.

[2016-05-19 14:38] omerxx opened #1006 "Tests fail to generate report, causing a wide failure"
Hi,

We're running approx. 4000 tests every 1 hour, from time to time we get an exception probably based on the report builder jar not extracted correctly. (cucumber-html V.0.2.3)
This is the exception: `cucumber.runtime.CucumberException: Couldn't find /cucumber/formatter/formatter.js. Is cucumber-html on your classpath? Make sure you have the right version.`
This only happens occasionally which

[2016-05-22 23:08] dkowis commented on #993
merged as of c0ffacd7bc1a6fa6e91fab38d67ee483c43ea0da

[2016-05-22 23:08] #993 closed

[2016-05-23 08:06] RichardBradley commented on #993
I had 4 questions in my comment above.

2 & 3 have been fixed by the commits you merged (or have nearly merged, see my comments on #994).

@dkowis , do you have any thoughts on 1 & 4 above?

[2016-05-23 17:12] brasmusson commented on #993
The  `@Before` and `@After` annotations can take an `order` attribute which is used to control the order of execution (example the [Spring transaction hooks](https://github.com/cucumber/cucumber-jvm/blob/master/spring/src/main/java/cucumber/api/spring/SpringTransactionHooks.java#L63) has the order 100).

The `@Before` hooks are executed in ascending order, and the `@After` hooks are executed in de

[2016-05-25 00:13] dkowis commented on #993
I'm afraid I don't have any advice here, I generally have avoided using injection systems in my cucumber step definitions :) Sorry.

[2016-05-25 10:43] RichardBradley commented on #993
OK, thanks. The changes in my PR have fixed this enough for me, and hopefully the extra docs will suffice for anyone with similar issues in future.

[2016-05-25 13:05] javapapo commented on #515
+1 for this issue

[2016-05-25 13:47] RichardBradley opened #1007 "JUnit runner does not distinguish between pending and ignored via Assume"
JUnit tests can be marked as "ignored" via the [Assume](http://junit.sourceforge.net/javadoc/org/junit/Assume.html) API. If an assumption fails, then JUnit will mark the test as "ignored". Tests in this state do not count as failures.

Cucumber tests can be in "pending" state if they have undefined steps. Tests in this state should count as a failure if "strict" is set.

The `cucumber.api.junit.Cu

[2016-05-25 14:01] RichardBradley commented on #1007
See #359 -- I think it's wrong to treat "Assume" the same as "pending": the former means "ignore without failing" whereas the latter means "fail if strict or ignore if not strict".

[2016-05-26 12:08] ajit-jadhav opened #1008 "How to run JUnit-Selenium-Cucumber-Android-Appium tests in parallel ?"
Please let me know How to run JUnit-Selenium-Cucumber-Android-Appium tests in parallel.
Thanks.

[2016-05-28 20:24] rankinc opened #1009 "Cannot register Converter for XStream unless I also own the target class."
Hi,

I have a `DataTable` that I am trying to convert into `List<Target>`. I've written a suitable `TargetConverter` for `Target`, but have discovered that Cucumber won't invoke my `Converter` unless I also annotate `Target` with `@XStreamConverter`. Unfortunately, the `Target` class is not mine to annotate. Subclassing `Target` _does_ work, but is fugly.

Is there any other way to associate my `T

[2016-05-29 13:14] brasmusson commented on #1008
This is an issue tracker, please ask your question in a [support forum](https://cucumber.io/support)

[2016-05-29 13:14] #1008 closed

[2016-05-29 23:30] rankinc commented on #1009
See [pull request #1010 ](https://github.com/cucumber/cucumber-jvm/pull/1010)

[2016-05-31 11:28] hanemay commented on #957
@mikeholler have you found out anything regarding this issue, a workarround ?

[2016-05-31 19:33] dkowis commented on #957
The pure java implementation stands alone using annotations. Even the scala and jruby backends don't use annotations and instead use a DSL. Ruby and Javascript implementations also use a DSL. And it is limited to one regexp per step method, or an ugly complicated regex. I believe the proper solution in all of the other languages is to write methods that delegate to another method. Totaling N+1 met

[2016-05-31 19:46] mikeholler commented on #957
@dkowis, thanks for responding. I respectfully disagree with your position on the basis of code (glue) quality and readability, and beg you to reconsider.

It's hard to argue that delegating to an older step is more concise and readable than my proposed solution.

It seems to me the point of "glue" functions is to link a step definition with instructions for step execution. That is, to map syntax

[2016-06-01 18:42] brasmusson commented on #957
I always read Andrew Premdas/@diabolo posts on [the cukes group](https://groups.google.com/forum/#!forum/cukes) very carefully. From what he write I know that he as tons of more experience with using Cucumber(-Ruby) than I have with using any Cucumber implementation, and I want to tap into that experience as much as I can.

I common thread many of these post is to to focus on writing good helper c

[2016-06-04 15:41] mattwynne commented on #957
I've often wanted this feature, and I think it would be useful. We kinda have this in Ruby, with the [one line step definitions](https://github.com/cucumber/cucumber-ruby/blob/master/features/docs/defining_steps/one_line_step_definitions.feature) feature which allows you to map step match patterns to method names.

@gasparnagy has added this [to SpecFlow](https://github.com/techtalk/SpecFlow/wiki/

[2016-06-06 10:56] jakub-bochenski opened #1012 "Tags missing from JUnit reporter and formatter"
I can't seem to find the tags anywhere in the JUnit output -- regardless weather I run it with JUnit runner or use the plugin `junit:target/cucumber-junit.xml`

[2016-06-06 11:19] ajit-jadhav commented on #1008
ok.

[2016-06-06 18:31] brasmusson commented on #1012
I don't think the JUnit output ever have been intended to include the whole feature file (the pretty and html formatter are much more feature file oriented), but rather the test cases executed and their result. There are certainly many things in the feature file missing in the JUnit output, descriptions, comment, and yes also tags. Why would we want to include tags in the JUnit output?

[2016-06-06 21:05] jakub-bochenski commented on #1012
JUnit XML is a format used much more widely than JUnit itself. It's kind of funny since the format itself is an Ant artifact and there isn't even any definite spec.

I think that giving the ability to add arbitrary content to the report via tags would be generally useful, given the amount of tools that consume the format.

Comments also seem like a good addition, but for my  particular case I pref

[2016-06-07 12:12] moreau-nicolas commented on #957
I agree with @mattwynne : let's keep step definition methods short **and** provide a means to avoid methods that are just there to allow for synonyms.

[2016-06-07 15:16] mikeholler commented on #957
Yeah, I very much agree with @brasmusson as well, but also believe too that this feature is not incompatible with short, concise step code. One should always strive to write short, concise code for steps and in all other situations.

I want this feature not as a crutch so I can write bloated steps, but as a tool I can use to consolidate repetitive steps all using the same helper method into a sing

[2016-06-07 15:40] mcrmfc commented on #935
I am guessing this is related to #263

[2016-06-16 13:51] L3K0V opened #1015 "Strange behavior using JUnit options when scenario failed."
With `--allow-started-ignored` flag:
![ko](https://cloud.githubusercontent.com/assets/2267270/16118794/5c713438-33e1-11e6-97b9-dac13add82ac.jpg)

Without `--allow-started-ignored` flag:
![ok](https://cloud.githubusercontent.com/assets/2267270/16118878/b2812edc-33e1-11e6-9aca-1468b412fe83.jpg)

In first case times are okay, but the feature structure is broken, when disable it the result is reversed

[2016-06-21 00:40] kirillzh opened #1017 "Android: Multiple Cucumber runners"
Is it possible to have multiple test runners with unique `CucumberOptions`?

For example I have two runners
`RegressionTestsRunner.java`:
[code]
and `SmokeTestsRunner.java`
[code]

But in some reason Cucumber runs first runner it finds. If I run `SmokeTestsRunner`, `RegressionTestsRunner` will be ran:
[code]

**Note:** works in `java` project

[2016-06-24 09:40] danyg opened #1020 "Call a step within a step definition"
Hi, I know this is a sensible topic in the community, I read you don't want to use gherkin language for programmatic proposes.

I'm asking something different here, Would something like this be possible?

[code]

I know the recommendation here is to call the methods of those steps directly, but think about this, what happen if the day of tomorrow, I want to change that implementation (and in my cu

[2016-06-24 21:04] kirillzh commented on #1020
You can create instance of steps class and execute any steps like so:

[code]

[code]

[2016-06-25 09:20] brasmusson commented on #1020
No it is not possible to call steps from step definitions.

I close this issue since this is an issue tracker, please ask your question in a [support forum](https://cucumber.io/support).

[2016-06-25 09:20] #1020 closed

[2016-06-27 09:46] danyg commented on #1020
@brasmusson this is a request, is a request a valid issue for you mate?

[2016-06-27 09:47] danyg opened #1022 "[REQUEST] Call a step within a step definition"
As expressed in #1020

I would like to do this

@Given("^A user in the profile section$")
public static void openProfile() {

    Cucumber.runStep("Given a user with [no important privileges] in the Web");
    Cucumber.runStep("And the user open the settings section");
    Cucumber.runStep("And the user open the profile section");

}

It will help a lot to decouple wording from implementation, and

[2016-06-27 10:47] a-yumashin opened #1023 "Spring issue when step definitions file is too deep in packages"
**Cucumber-jvm version:** 1.2.4
**Modules listed in pom.xml (all v.1.2.4):** Cucumber-java, Cucumber-jvm, Cucumber-junit, Cucumber-spring, Cucumber-core.
**Java:** 1.7.0_80
**IDE:** IntelliJ IDEA 2016.1.2, CE
**Spring:** 3.2.8

**Maven project structure:**
[code]
As recommended [here](http://stackoverflow.com/questions/10564240/spring-dependencies-not-injected-for-cucumber-runner), file `Cucumber.

[2016-06-27 16:33] brasmusson commented on #1020
@danyg I'am sorry. The wording made me interpret it as a question. You could have reopened the issue to correct me.

[2016-06-27 16:36] brasmusson commented on #1022
Cucumber-Ruby has a method of calling steps from steps. However, practical experience have led people to realize that they are best avioded, see for instance https://groups.google.com/d/msg/cukes/9QXe_mZv6kU/mVA5WzgmCQAJ

[2016-06-27 19:36] brasmusson commented on #1023
The `glue` parameter in `@CucumberOptions` take package name(s) (`glue="com.bla.bla.autotests.stepdefs"`), not paths. Using a deep package hierarchy for the step definitions works fine, see for instance https://github.com/cucumber/cucumber-jvm/blob/master/spring/src/test/java/cucumber/runtime/java/spring/contextconfig/RunCukesTest.java.

[2016-06-27 19:36] #1023 closed

[2016-06-28 05:07] a-yumashin commented on #1023
Unfortunately, changing slashes to dots doesn't help - still getting the same exception.

[2016-06-29 04:50] a-yumashin commented on #1023
Please re-open.

[2016-06-29 19:41] brasmusson commented on #1023
@a-yumashin This error message say what the problem is. You have the same bean type defined twice on the classpath, you need to remove `myStepDefs` (defined in the directory `src/main/java/stepdefs`?), so that only `com.bla.bla.autotests.stepdefs.MyStepDefs` is single matching bean on the classpath.

[2016-06-30 13:22] greenhammock commented on #849
Hello, I think I encountered the same bug, but the behavior that caught my attention is slightly different. I noticed that tags attached to 'Examples' section in 'Scenario Outline' do not appear in the JSON report. I hope the fix you are talking about in this issue will also result in correct JSON output.

[2016-07-01 03:09] tcwmj opened #1024 "[Hooks] after hook will be skipped when background failed"
I expect before and after hook to be run without considering the failure of background and scenario.

but after hook will be skipped when background throws exceptions.

if it's a correct behavior, is there anyway to make me achieve my expectation?

[2016-07-06 03:19] #1024 closed

[2016-07-07 19:33] nullexe commented on #515
+1 as well

This is super useful for testing an application, and ensuring that the app is closed out completely at the end of a test run.

[2016-07-12 12:07] jakub-bochenski commented on #913
The javadoc https://cucumber.github.io/api/cucumber/jvm/javadoc/cucumber/api/guice/package-summary.html still lists the old filename

[2016-07-13 18:59] bennycwlau opened #1026 "How to convert program using CLI runner to RunCukesTest (JUnit) Runner?"
I have a program running CLI runner to execute the cucumber tests. How do I convert the program so that it uses RunCukesTest to run Cucumber instead?

[2016-07-13 19:33] aslakhellesoy commented on #1026
This is a bug tracker. For questions please use https://cucumber.io/support

[2016-07-13 19:33] #1026 closed

[2016-07-14 14:51] folaAkin commented on #903
Please reopen this issue,I am using version 1.2.4

[2016-07-14 15:54] lior-gershony opened #1027 "scenario steps are written to log only after scenario has finished"
I've just upgraded the cucumber-JVM from version 1.0.14  to version 1.2.4 and encountered the following issue:
i am running a Feature File with 3 scenarios - scenario A, scenario B, scenario C.
in the steps implementation class, I have a @Before and @After methods to print the scenario name, so that we can clearly see in the log file which data belongs to which scenario.
surprisingly, after the ex

[2016-07-14 19:44] stanislav-antufeev commented on #989
Closing issue because feature is implemented not completely.

[2016-07-14 19:44] #989 closed

[2016-07-18 12:03] GoreA commented on #515
+1 fo rthis issue

[2016-07-18 19:33] kirillzh commented on #666
It's easy to implement with #984:
[code]

[2016-07-19 16:23] IntelloScooby commented on #604
Is there any plan for adding step hooks any time soon? I see this conversation was started in 2013 and there also seems to be code already written for this change.

[2016-07-21 12:17] alayor commented on #1027
Can you show an actual example of your logs?

[2016-07-22 12:16] xoechts commented on #515
+1 for this issue

[2016-07-22 18:18] brasmusson commented on #604
@IntelloScooby Speaking for me personally, I'm focusing the time I have available to work on upgrading Cucumber-JVM to use Gherkin v4.0.0. From that perspective I would not want to add step hooks before there is an Cucumber-JVM v2.0.0-SNAPSHOT available that uses Gherkin v4.0.0.

[2016-07-24 09:03] veenamohandas commented on #304
+1

[2016-07-24 09:03] veenamohandas commented on #304
@RunWith(Cucumber.class)
@CucumberOptions(
features = "src/test/feature/", tags = Config.tags, plugin = { "pretty",
		"html:target/cucumber" })

  @notnow
  Scenario: To verify the Get request response time.                  [90m# RestTest.feature:24[0m
    [32mGiven [0m[32mI am calling GetUser request.[0m                               [90m# Stepdefenition.i_am_calling_GetUser_request()[0m

[2016-07-27 19:17] varunnvs92 opened #1031 "Can I place cucumber.properties file in custom folder?"
Hi,

As per these [docs](https://cucumber.github.io/api/cucumber/jvm/javadoc/cucumber/api/guice/package-summary.html),  cucumber.properties should be placed at root of the classpath. Is there any way that I can place the file at some folder like {custompath}/cucumber.properties and tell the tests to find the cucumber.properties file from {custompath}?

Thanks.

[2016-07-27 20:14] aslakhellesoy commented on #1031
I'm afraid you can't, no

[2016-07-27 20:14] #1031 closed

[2016-07-31 13:24] #916 closed

[2016-07-31 13:52] brasmusson commented on #912
Closed by https://github.com/cucumber/cucumber-jvm/commit/c1fd8b1bcd499f24eaa1464a9ff459659516ba20.

[2016-07-31 13:52] #912 closed

[2016-08-01 07:39] jkleiser opened #1033 "Could not initialize class SharedDriver"
I'm trying to run the github.com/cucumber/cucumber-jvm/tree/master/examples/java-webbit-websockets-selenium on my Mac (10.11.6) doing `mvn install`, but I get the error `Could not initialize class cucumber.examples.java.websockets.SharedDriver`. A Firefox window comes up, but closes after some time (55.393 s). The last thing I tried was installing the new geckodriver v0.9.0 from github.com/mozilla

[2016-08-02 12:12] dherges opened #1034 "AbstractMethodError in 1.2.5-SNAPSHOT"
Looks like it's related to #912 #929 #937 #949 #998 et al. - got no glue what is going on except that reflection is hunting us.

Now that we've got rid of ``IllegalArgumentException``, next one along the road is ``AbstractMethodError``.

#937  may or may not solve this. wdyt?

## How to reproduce

Code being called is (``StepDefinitions.java``):
[code]

Stacktrace:
[code]

Version info:
[code]

Bu

[2016-08-02 12:17] dherges commented on #939
reference from 1034 was typo. please ignore. no relation between the two.

[2016-08-02 13:07] jkleiser commented on #1033
I just ran `mvn test` at the top level `cucumber-jvm`, and here all tests seemed to pass except the final re. Java8. Here's some lines from the console:
[code]

[2016-08-02 16:38] Grief commented on #912
Hi @brasmusson ,
Are you going to push 1.2.5 to maven central repo in near future?

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22info.cukes%22%20AND%20a%3A%22cucumber-java8%22

[2016-08-02 16:50] Grief commented on #1034
I have exactly the same issue with Oracle JDK 1.8.0_101

[2016-08-02 16:57] brasmusson commented on #912
@Grief Hopefully a 1.2.5-version will not have to wait to far into the future, but #1034 is better fixed before that. Until then the latest build on the master is available as a [snapshot release](https://cucumber.io/docs/reference/jvm).

[2016-08-02 18:54] brasmusson commented on #1034
The Travis build command we used to build and deploy snapshots (`mvn -q deploy <...> -DdeployAtEnd=true`) seems to have stopped deploying a couple of months ago. Therefore was Java8 the only module to be deployed to Sonatype when I merged the Java8-fixes a couple of days ago (the Java8 module is build and deployed from a separate Travis job, and have used different commands to build all modules, b

[2016-08-02 18:54] #1034 closed

[2016-08-02 19:11] Grief commented on #1034
@brasmusson glad to hear that you've sorted this issue out! I tried to find the clue in the sources by myself but failed and now I see that it even wasn't in sources. Today I was trying to upgrade our test code with java 8 style but failed. I'm excited how fast it was fixed and tomorrow I'll do a second try. Also, I suppose nothing is blocking you from publishing 1.2.5 to maven central, right?

[2016-08-03 18:31] brasmusson commented on #1033
@jkleiser It looks like you are using v1.2.4 and have run into #912. It has been fixed in the latest v1.2.5-SNAPSHOT (from yesterday).

[2016-08-04 09:17] jkleiser commented on #1033
After a `git pull` the `mvn test` at the top level now passes all tests, incl. Java8. However, down at the examples/java-webbit-websockets-selenium I still get `Could not initialize class cucumber.examples.java.websockets.SharedDriver` after some 54 seconds.

[2016-08-04 21:15] DPUkyle opened #1036 "Guice InjectorSourceFactory call to Class#forName should use explicit ClassLoader"
`c.r.j.guice.impl.InjectorSourceFactory` makes a call to `Class#forName(String)` to instantiate the InjectorSource named via the `cucumber.properties` file.

The call to `Class#forName` without the ClassLoader argument will use the calling class's ClassLoader to resolve the provided class name. However, if the class to be resolved is in a child ClassLoader, this call will fail to resolve the class

[2016-08-05 10:47] FrankS77 commented on #515
+1 for this issue

[2016-08-06 00:00] wujiayi47 opened #1038 "Will cucumber-jvm support profile yml feature in future?"
This 'profile' feature looks very neat,  but seems not support in current cuke jvm.

Are we going to support this feature in future?

[2016-08-08 15:07] MALPI opened #1039 "All beans are registered twice when running with Spring"
Hi,

I am trying to get my Cucumber tests running with Spring and Java8.

Basically all the beans are registered twice in the context with different names:

[code]

My cucumber.xml looks like he following:

[code]
Actually I have no clue what's going wroing there, but it seems like it's using two different naming strategies under the hood when registering the beans?

[2016-08-08 19:20] FrankS77 commented on #996
I ran into the same problem.

[2016-08-08 23:39] aslakhellesoy opened #1040 "Add support for Tag Expressions"
## Summary

[Tag Expressions](http://docs.cucumber.io/tag-expressions/) is a more intuitive way to specify tags in tagged hooks and on the command line's `--tags` argument.
## Expected Behavior

Tagged Hooks should accept a single string:

[code]

Likewise, the `--tags` command line argument should allow the same. (Specifying it more than once should cause an error)

[code]
## Context & Motivation

[2016-08-08 23:43] aslakhellesoy opened #1041 "Add support for Cucumber Expressions"
## Summary

[Cucumber Expressions](http://docs.cucumber.io/cucumber-expressions/) is a new alternative to
Regular Expressions, which is easier to read and write, and less daunting.
## Expected Behavior

Step Defintions that don't start with a `^` or end with a `$` should be interpreted as a Cucumber Expression:

[code]

Alternatively we can decide to use regular expressions if the string uses `/`

[2016-08-09 07:20] #1039 closed

[2016-08-09 15:47] billwright commented on #1041
This looks great! I tried to see what versions supported it but this link
in the documentation (http://docs.cucumber.io/cucumber-expressions/) seems
to be broken:

http://docs.cucumber.io/standard-library.adoc#implementations

Also, the documentation has this text:

You may have a Color class that you want to use to capture the red part of
the step, but unless you register a transform for that cla

[2016-08-09 16:02] aslakhellesoy commented on #1041
I just pushed a fix - better now?

[2016-08-12 13:56] vikramvi opened #1043 "passing java file name from command line is failing"
mvn clean verify -Dcucumber.options="src/test/java/com/Login_Stories.java"

is throwing error as below

Caused by: gherkin.lexer.LexingError: Lexing error on line 1: 'package com.cucumber;

%_FEATURE_END_%'. See http://wiki.github.com/cucumber/gherkin/lexingerror for more information.
	at gherkin.lexer.En.scan(En.java:872)
	at gherkin.lexer.I18nLexer.scan(I18nLexer.java:36)
	at gherkin.parser.Pars

[2016-08-12 14:01] aslakhellesoy commented on #1043
You're asking Cucumber to run a Java source file. I'm not sure what you expected would happen?

[2016-08-13 00:29] alayor opened #1044 "Cucumber-picocontainer fails to provide default constructors for String."
### When picocontainer tries to resolve the constructor for the class String it detects that there are multiple satisfiable constructors.
#### I am using picocontainer to resolve dependencies for Steps and Hooks. One of my Steps has constructor which takes a String as parameter.
#### This problem also happens with other classes like Integer, Double, Float, Boolean, etc.

Version: **1.2.5-SNAPSHOT*

[2016-08-13 06:29] aslakhellesoy commented on #1044
I answered your question on gitter yesterday. Let's continue discussion there

[2016-08-13 06:29] #1044 closed

[2016-08-15 12:27] vikramvi commented on #1043
@aslakhellesoy do you have a way to pass java file from command line ?

Without  asking cucumber to run .java , is there a way around ?

Also to answer your question , I would expect nice error message instead of above cryptic one.

[2016-08-15 12:37] aslakhellesoy commented on #1043
I don't understand what you're trying to do @vikramvi. What do you mean when you say "pass a java file"?

It's a bit like trying to open an word document in photoshop if you know what I mean.

[2016-08-15 12:41] vikramvi commented on #1043
`@RunWith(CucumberWithSerenity.class)

@CucumberOptions(features={"src/test/resources/LoginPage/password_positive.feature"}{../password_negative.feature}{..})
public class PreLogin_Stories {}`

I've multiple feature files linked in single java class and multiple java classes.

In this case I don't want to run all the java classes but one at a time from command line.

Please let me know if this is

[2016-08-15 12:49] aslakhellesoy commented on #1043
Oh I see. You want to tell Maven's JUnit plugin (surefire) to only run a particular JUnit test?

Try this: http://maven.apache.org/surefire/maven-surefire-plugin/examples/single-test.html

[2016-08-15 12:49] #1043 closed

[2016-08-16 15:03] jcannon-sovrn commented on #515
+1 for me here as well. I am going to try and make the problem go away with other means, but it would be really nice if Cucumber naturally supported this or made it otherwise more intuitive as to how to use it. I'm going to explain my issue in case that helps at all.
Currently using "Background" to load data into 3 different data stores in a Vagrant VM, then setting up Scenario Outlines for the pu

[2016-08-16 15:27] type11 commented on #936
First off thanks for the work around it almost got me there but I am now getting another error with it which was one of the reasons I was using a List<string> to begin with

	  Given("^Create Place with serviceLevel (.*) with parameters (.*)$", (TemplatedString serviceLevel, DataTable paramsDataTable) -> { List<String> params = paramsDataTable.asList(String.class);
          client.createPlace(ser

[2016-08-16 17:06] JWGmeligMeyling commented on #515
JBehave has a sane implementation of hooks. Unfortunately the JUnit runner is not entirely bug-free against newer versions which cause some issues in builds and IDE info. But it could be used as a reference implementation, or we could instead, address the issues there.

[2016-08-17 09:29] #963 closed

[2016-08-18 12:26] deIdris325 opened #1046 "Failed to load ApplicationContext google"
I configure a spring maven cucumber project and it works for two weeks, now Jenkins gives me this error:

[code]

Local works mvn clean test fine.

POM.XML

[code]

SharedDriverConfiguration.java

[code]

SharedDriver.java

[code]

Run.java File

[code]

[2016-08-19 11:13] felipecao opened #1047 "Question about World closure usage"
Hi! I'm trying to use cucumber-groovy, and I'd love to use the fantastic `World` closure properly.

As far as I understand, `World` is supposed to be used for dependency injection of classes I would need within different steps, is my understanding correct?

If so, I'm trying to have step definitions Groovy scripts with the same `World` block, for instance, something like this:

[code]

As far as I

[2016-08-19 23:30] charlesfradley commented on #1047
0down votefavorite
<https://webmail.logisticare.com/owa/redir.aspx?C=K2bvLi7X1AHbkfR5_IuXBWq13MFL5jp2y8r0islIYqNR1dyOiMjTCA..&URL=http%3a%2f%2fstackoverflow.com%2fquestions%2f39001980%2funsure-how-to-launch-runner-using-abstracttestngcucumbertests%23>

I am Unsure how to launch the runner class within Eclipse using
AbstractTestNGCucumberTests

I have a project set up, intended to use TestNG to run

[2016-08-20 10:13] brasmusson commented on #1047
This is a bug tracker. Please see https://cucumber.io/support

[2016-08-20 10:13] #1047 closed

[2016-08-20 16:07] alayor commented on #975
I am having a similar error in the same but with this description:
"cucumber.runtime.CucumberException: java.lang.IllegalArgumentException: Wrong type at constant pool index"

@bassmake Are you still having this problem?

[2016-08-23 11:36] kmelderis commented on #515
@AfterAll
public void afterAllScenarios () {
driver.quit();
}

Would be more readable (especially for those unlucky fresh apprentices who get thrown into 80k-of-lines maintenance test projects because management surely knows what they are doing); I haven't tried to implement it myself, but my vote goes for such a hook being present.

[2016-08-23 22:37] outadoc opened #1049 "Core: TableConverter extracts child object values but not headers"
Hi! I'd like to report a bug I encountered while trying out Cucumber on my freshly-converted Kotlin Android application. I'm not entirely sure if this is a bug with Cucumber or Kotlin, so I'll let you judge.
### Steps to reproduce
- Given TimeoLine.kt

[code]
- Given TimeoDirection.kt

[code]

_nb:_ As you can see, `TimeoLine` contains a `TimeoDirection` as a property named `direction`
- Call `Dat

[2016-08-24 05:48] mgurov commented on #1049
Could be related to #1042

[2016-08-24 20:48] outadoc commented on #1049
I'm not sure how to compile the fix to test it, but it sure looks like that could be it.

[2016-08-29 07:01] anandxp commented on #1006
@omerxx Hi Omer .. Any idea regarding this issue. I am also getting the same issue.

[2016-08-29 09:45] omerxx commented on #1006
@anandxp Not really. I've scaled the infra to 4 hubs each orchestrating tests to 15 nodes.
After a long debug my main conclusion is that this was a result of load the hub could not hold.

[2016-08-30 14:47] aslakhellesoy commented on #1038
No, but 2.0 will most likely provide a configuration API allowing you to do something similar.

[2016-08-30 14:47] #1038 closed

[2016-08-30 14:51] aslakhellesoy commented on #1036
Looks like you've done some work in your fork. Are you going to send a PR?

[2016-08-30 14:54] aslakhellesoy commented on #1022
Sorry, we're not going to add this feature.

[2016-08-30 14:54] #1022 closed

[2016-08-30 14:57] aslakhellesoy commented on #1017
It's JUnit that runs the Runner class (which is a JUnit test), which in turn runs Cucumber. You have to tell JUnit what tests to run.

[2016-08-30 14:57] #1017 closed

[2016-08-30 14:59] aslakhellesoy commented on #1015
We'll aim to fix this in 2.0 - it's a long standing bug

[2016-08-30 15:00] aslakhellesoy commented on #1012
Please add an example of what you would like the generated XML to look like.

[2016-08-30 15:42] DPUkyle commented on #1036
Hi @aslakhellesoy! Yes, please see PR #1037 .

Thanks very much.

- Kyle

[2016-08-30 21:11] aslakhellesoy commented on #1012
Never mind my last comment - just spotted the PR

[2016-08-30 21:14] aslakhellesoy commented on #998
Yep, dupe of #912

[2016-08-30 21:14] #998 closed

[2016-08-30 21:28] aslakhellesoy commented on #987
Scenarios have a name, but they don't have an id. Cucumber does not require Scenario names to be unique, so even if you did have access to the scenario name (and use that as the id), there would be a risk that there would be several scenarios with the same name.

Are you trying to link results of Cucumber scenarios with TestRail test cases? What if you could put the TestRail test case id as a tag

[2016-08-30 21:32] aslakhellesoy commented on #976
This sounds like an unusual requirement, but I don't see the harm in adding it. If you can send us a pull request we'll consider it.

[2016-08-30 21:37] aslakhellesoy commented on #973
So the WebDriver implementation you're using can't take screenshots, or you didn't configure it properly. In any case - this is not a Cucumber bug - Cucumber only attaches the screenshots to the report once you've created the screenshots.

[2016-08-30 21:37] #973 closed

[2016-08-30 21:40] aslakhellesoy commented on #959
From what I can tell this is not a Cucumber bug then

[2016-08-30 21:40] #959 closed

[2016-08-30 21:44] aslakhellesoy commented on #951
Sounds like a dupe of #966

[2016-08-30 21:44] #951 closed

[2016-08-31 01:27] kirillzh commented on #1017
Thanks for replying, @aslakhellesoy.

Does Cucumber JVM has profiles like Ruby does (or something similar)?
I'm trying to make it easy to run set of tests (smoke, regression, maybe some feature, etc.) from IDE.

Thank you.

[2016-09-01 14:55] sebrose commented on #906
Fixed

[2016-09-01 14:55] #906 closed

[2016-09-01 14:58] sebrose commented on #900
Can you create a Pull Request based on your fork?

[2016-09-01 15:01] sebrose commented on #898
Hi @manat - sorry for the long delay.

This sounds like a nice feature, but we're unlikely to get to it any time soon. If, however, you send us a PR we'd be happy to look at it.

Thanks!

[2016-09-01 15:04] sebrose commented on #894
One way of running Cucumber is by using JUnit, but there are others, so we would not want to couple Cucumber & JUnit by sharing a JUnit annotation.

[2016-09-01 15:04] #894 closed

[2016-09-01 15:11] #885 closed

[2016-09-01 15:17] manat commented on #898
Actually I submitted PR #899 since about that time.

Let me know what you think, thanks.

[2016-09-01 15:20] sebrose commented on #874
@sayewich - did you have any luck bringing Gosu back into line?

[2016-09-01 15:31] sebrose commented on #872
@temyers : you're not using table delimiters in your Given step, so this isn't valid Gherkin. An error should be produced.

However, even if you do use table delimiters '|' this behaviour still isn't supported.

[2016-09-01 15:31] #872 closed

[2016-09-01 15:49] rmannibucau opened #1050 "release 1.2.5"
Hi

would be great to have 1.2.5 version out to get back java 8 compatibility

Thanks

[2016-09-01 18:19] brasmusson commented on #966
With #1002 the requested behaviour can be achieved with the option `--junit,--allow-started-ignored`. The reason for not always firing the `testStarted` before the execution of a step definitions, is that in case of pending and undefined steps (which in non-strict mode are mapped to the JUnit status skipped), then the listener would receive a `testStarted` followed by a `testIgnored`, which (some?

[2016-09-01 18:19] #966 closed

[2016-09-01 18:24] brasmusson commented on #976
With #1035 (the upgrade to use Gherkin4), this will be changed (there the FilterFormatter which is a Gherkin2 thing, will not exist). Currently the approach is to use a filter chain similar to in Cucumber-Ruby, so for a pickle to be executed it need to be accepted by the line filters (if any), the tag filters (if any), and the name filters (if any). That is both name and tags can be used at the sa

[2016-09-01 18:29] brasmusson commented on #849
AFAIK, fixing this before v2.0 would mean to make changes to code that will be thrown away by #1035 (use Gherkin4) or it might even require a new release for Gherkin2, so I would prefer to not try to fix this before v2.0.

[2016-09-01 18:36] brasmusson commented on #898
@manat I tip for you would be to reference the issue (with "`#XXX`") in the PR description instead of in the PR title, then Github picks up the reference and make it visible in the issue in question. Even better is to use [a keyword to closing issues](https://help.github.com/articles/closing-issues-via-commit-messages/#keywords-for-closing-issues) (for instance "`closes #XXX`") in the PR descripti

[2016-09-02 02:25] temyers commented on #872
@sebrose

The Given step is using a DocString - https://cucumber.io/docs/reference#step-arguments

That step is not intended to be a table, and isn't the source of the problem.

The issue is that the example table of the scenario outline contains a newline character: `one\ntwo`

This is valid Gherkin, and works through the command line, but breaks the Eclipse Junit plugin, presumably because the s

[2016-09-02 06:10] tcwmj commented on #976
Sounds great! I think we can close this topic if Gherin4 has this feature.

[2016-09-02 11:37] brasmusson commented on #872
@temyers You should try and use the option `--junit,--filename-compatible-names` (in v1.2.5-SNAPSHOT, see #1002), it changes the names used in notifications to JUnit listeners to not include anything other that [a-zA-Z0-9_],. so it should fix the problem with the Eclipse JUnit plugin.

[2016-09-04 10:51] richersoon commented on #515
+1

We need `@BeforeAll `or `@AfterAll `- because when we use Spring's `@Autowired` we are not able to use the  `@BeforeClass` that is static

[2016-09-05 01:19] temyers commented on #872
@brasmusson Cheers, I'll check it out.

[2016-09-05 11:21] tompahoward commented on #1050
It would be great to get #961 released as well

[2016-09-05 13:30] kmelderis commented on #515
To leave some value; Those that use JUnit as their runner (did not figure out how to do this with TestNG) you can use JUnit annotation to do something after "all your tests".

[code]

[2016-09-06 13:50] mdelapenya commented on #900
Hi @sebrose I'm trying to fix the error on openjdk7, as shown in TravisCI.

Any ideas why the bundle is not successfully discovering the dependencies?

And why are there less tests in jdk8 than in jdk7?

[2016-09-06 14:19] brasmusson commented on #900
@mdelapenya The examples are examples and not tests, so they are built only on the openjdk7 build on Travis and not on the builds that release snapshots (that is the oraclejdk7 and oraclejdk8 builds on Travis).